<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/a1/a1_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,214},{453,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,81}</string>
			</dict>
			<key>common/a1/a1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{592,868}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{592,868}</string>
			</dict>
			<key>common/a1/a1_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,868},{563,750}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{563,750}</string>
			</dict>
			<key>common/a1/a1_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2017},{206,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,22}</string>
			</dict>
			<key>common/a1/a1_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1915},{519,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,127}</string>
			</dict>
			<key>common/a1/a1_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,134},{370,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,63}</string>
			</dict>
			<key>common/a1/a1_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,824},{366,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,35}</string>
			</dict>
			<key>common/a1/a1_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,784},{218,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,34}</string>
			</dict>
			<key>common/a1/a1_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,91},{136,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,36}</string>
			</dict>
			<key>common/a1/a1_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,437},{317,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,387}</string>
			</dict>
			<key>common/a1/a1_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,0},{568,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{568,134}</string>
			</dict>
			<key>common/a1/a1_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,275},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>common/a1/a1_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1618},{640,399}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,399}</string>
			</dict>
			<key>common/a1/a1_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,868},{320,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,568}</string>
			</dict>
			<key>common/a1/a1_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,437},{266,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,437}</string>
			</dict>
			<key>common/a1/a1_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,0},{334,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{334,437}</string>
			</dict>
			<key>common/a1/a1_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,355},{271,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,64}</string>
			</dict>
			<key>common/a1/a1_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,406},{126,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,153}</string>
			</dict>
			<key>common/a1/a1_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,214},{539,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{539,61}</string>
			</dict>
			<key>common/a1/a1_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1346,424},{208,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,101}</string>
			</dict>
			<key>common/a1/a1_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1981,0},{117,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,51}</string>
			</dict>
			<key>common/a1/a1_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,355},{117,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,51}</string>
			</dict>
			<key>common/a1/a1_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1560,275},{169,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,87}</string>
			</dict>
			<key>common/a1/a1_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,703},{564,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{564,81}</string>
			</dict>
			<key>common/a1/a1_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,295},{555,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,60}</string>
			</dict>
			<key>common/a1/a1_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,160},{195,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,43}</string>
			</dict>
			<key>common/a1/a1_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1587},{519,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{519,328}</string>
			</dict>
			<key>common/a1/circularHole.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,0},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>common/a1/new_guangquan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,559},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>
			<key>common/a1/a1_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,134},{525,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{525,80}</string>
			</dict>
			<key>common/a1/a1_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1436},{511,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{511,151}</string>
			</dict>
			<key>common/a1/a1_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,275},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>
			<key>common/a1/a1_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,355},{222,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,69}</string>
			</dict>
			<key>common/a1/a1_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1918,203},{123,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,97}</string>
			</dict>
			<key>common/a1/a1_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1494,0},{280,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>commonA1.png</string>
			<key>realTextureFileName</key>
			<string>commonA1.png</string>
			<key>size</key>
			<string>{2041,2042}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2041</integer>
			<key>height</key>
			<integer>2042</integer>
		</dict>
	</dict>
</plist>