<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/break/break_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>common/break/break_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,1895},{121,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{121,119}</string>
			</dict>
			<key>common/break/break_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1938},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/break/break_t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1938},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_t2.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1838},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_t3.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1838},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_t4.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1838},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_t5.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1398},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_t6.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1398},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_t7.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1800},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/hecheng02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1576},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng03.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1576},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng04.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1136},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng05.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,1538},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng06.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng07.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,262},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng08.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,524},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng09.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,786},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng10.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1105},{262,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{262,260}</string>
			</dict>
			<key>common/break/hecheng11.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1398},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng12.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1398},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng13.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1857},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng14.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1970},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng15.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1857},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng16.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1800},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng17.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1970},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng18.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1857},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng19.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1857},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng20.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1970},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng21.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1048},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/hecheng22.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1048},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>common/break/break_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1895},{136,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,136}</string>
			</dict>
			<key>common/break/break_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1440},{253,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{253,253}</string>
			</dict>
			<key>common/break/break_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1838},{217,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,100}</string>
			</dict>
			<key>common/break/break_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1136},{440,440}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,440}</string>
			</dict>
			<key>common/break/hecheng23.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1367},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>common/break/hecheng24.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1895},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,122}</string>
			</dict>
			<key>common/break/break_t8.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,1398},{140,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,57}</string>
			</dict>
			<key>common/break/break_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1938},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>break.png</string>
			<key>realTextureFileName</key>
			<string>break.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>