<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effvs/RRE_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,0},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
			<key>effect/effvs/RRE_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,55},{69,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,55}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effvs.png</string>
			<key>realTextureFileName</key>
			<string>effvs.png</string>
			<key>size</key>
			<string>{1024,128}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>128</integer>
		</dict>
	</dict>
</plist>