<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/c1/c1_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,193},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,297},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,297},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/cityc_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,319},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,945},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,945},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,310},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,615},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,701},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,787},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,873},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,86}</string>
			</dict>
			<key>common/c1/cityc_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>common/c1/cityc_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>common/c1/cityc_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,89},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>common/c1/cityc_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,89},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>common/c1/cityc_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,193},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>common/c1/cityc_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,193},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>
			<key>common/c1/cityc_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{362,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,89}</string>
			</dict>
			<key>common/c1/cityc_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,513},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>common/c1/cityc_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,89},{230,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{230,16}</string>
			</dict>
			<key>common/c1/c1_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,615},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c1/c1_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,503},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c1/c1_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,396},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c1/c1_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,310},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c1/c1_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,699},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c1/c1_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,783},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c1/c1_s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,301},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,405},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,493},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_s4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,591},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_s5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,699},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,807},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,915},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,591},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,699},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,807},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,915},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,513},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,409},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,104},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,212},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,104},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,0},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,621},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,729},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,837},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,507},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,405},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,212},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,98},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
			<key>common/c1/c1_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,0},{108,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>c1_btn.png</string>
			<key>realTextureFileName</key>
			<string>c1_btn.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>