<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>city/city1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1431},{288,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{288,279}</string>
			</dict>
			<key>city/city2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1136},{295,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,285}</string>
			</dict>
			<key>city/city3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1719},{266,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,228}</string>
			</dict>
			<key>city/city4.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1431},{203,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,210}</string>
			</dict>
			<key>city/city5.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1641},{175,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{175,203}</string>
			</dict>
			<key>city/city6.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,1719},{244,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,241}</string>
			</dict>
			<key>city/city7.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1844},{134,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,210}</string>
			</dict>
			<key>city/citybg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,1136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,1136}</string>
			</dict>
			<key>city/citybgc.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1998},{122,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,34}</string>
			</dict>
			<key>city/citycao.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1963},{104,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,73}</string>
			</dict>
			<key>city/cityjjc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1985},{122,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,35}</string>
			</dict>
			<key>city/cityjshd.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,1985},{122,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,35}</string>
			</dict>
			<key>city/cityjszb.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1675},{121,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,34}</string>
			</dict>
			<key>city/cityjtdt.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1641},{122,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,34}</string>
			</dict>
			<key>city/citymjt.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1963},{122,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,35}</string>
			</dict>
			<key>city/citywpdx.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1998},{121,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,35}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>city_bg.png</string>
			<key>realTextureFileName</key>
			<string>city_bg.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>