<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/appear/appear1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,261},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,522},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,783},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear3.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,0},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear4.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,261},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear5.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,522},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear6.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,783},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear7.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,0},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear8.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,194},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear9.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,455},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear0.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,716},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear12.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,194},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear13.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,0},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear14.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,388},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear15.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,649},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
			<key>effect/appear/appear16.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,388},{194,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,261}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>appear.png</string>
			<key>realTextureFileName</key>
			<string>appear.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>