<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/atkbuff/001_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1264},{370,424}}</string>
				<key>offset</key>
				<string>{-9,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,502},{332,464}}</string>
				<key>offset</key>
				<string>{-24,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1},{502,497}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,433},{409,449}}</string>
				<key>offset</key>
				<string>{-19,32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,877},{402,397}}</string>
				<key>offset</key>
				<string>{-20,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,1},{431,430}}</string>
				<key>offset</key>
				<string>{-18,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1},{502,467}}</string>
				<key>offset</key>
				<string>{-5,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,470},{405,439}}</string>
				<key>offset</key>
				<string>{-21,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,844},{418,420}}</string>
				<key>offset</key>
				<string>{-15,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,500},{380,454}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{502,499}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/atkbuff/001_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,836},{370,399}}</string>
				<key>offset</key>
				<string>{-9,32}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>atkbuff.png</string>
			<key>realTextureFileName</key>
			<string>atkbuff.png</string>
			<key>size</key>
			<string>{1963,1635}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1963</integer>
			<key>height</key>
			<integer>1635</integer>
		</dict>
	</dict>
</plist>