<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/defbuff/001_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{310,254}}</string>
				<key>offset</key>
				<string>{-21,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,510},{292,250}}</string>
				<key>offset</key>
				<string>{-25,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,1},{269,250}}</string>
				<key>offset</key>
				<string>{-29,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,248},{237,251}}</string>
				<key>offset</key>
				<string>{-37,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1725,1},{245,253}}</string>
				<key>offset</key>
				<string>{-29,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1468,1},{247,255}}</string>
				<key>offset</key>
				<string>{-20,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{281,279}}</string>
				<key>offset</key>
				<string>{-30,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,1},{296,253}}</string>
				<key>offset</key>
				<string>{-30,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1},{301,249}}</string>
				<key>offset</key>
				<string>{-28,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,252},{306,243}}</string>
				<key>offset</key>
				<string>{-27,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,282},{308,241}}</string>
				<key>offset</key>
				<string>{-27,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/defbuff/001_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{307,251}}</string>
				<key>offset</key>
				<string>{-26,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>defbuff.png</string>
			<key>realTextureFileName</key>
			<string>defbuff.png</string>
			<key>size</key>
			<string>{1979,761}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1979</integer>
			<key>height</key>
			<integer>761</integer>
		</dict>
	</dict>
</plist>