<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_line1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{175,170}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1621},{173,170}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{173,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1267},{175,170}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{175,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{177,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{177,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{179,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{179,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{179,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{179,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{179,170}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{179,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
            <key>eff_line1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{177,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{177,170}}</string>
                <key>sourceSize</key>
                <string>{181,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_line1.png</string>
            <key>size</key>
            <string>{174,1798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813cb4422408c9e8010a6cce7f09711c:1/1$</string>
            <key>textureFileName</key>
            <string>eff_line1.png</string>
        </dict>
    </dict>
</plist>
