<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effbbox/yaota_baoxgxdt2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,0},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,0},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,0},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,176},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,176},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,176},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,176},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,352},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_baoxgxdt2_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,542},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{190,176}</string>
			</dict>
			<key>effect/effbbox/yaota_xiangzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,732},{120,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,109}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effbbox.png</string>
			<key>realTextureFileName</key>
			<string>effbbox.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>