<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effhp/ettt_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,262},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,524},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,786},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,0},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
			<key>effect/effhp/ettt_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,145},{145,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effHp.png</string>
			<key>realTextureFileName</key>
			<string>effHp.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>