<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/shell/explode/001_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,710},{139,114}}</string>
				<key>offset</key>
				<string>{-31,-47}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,710},{177,155}}</string>
				<key>offset</key>
				<string>{-36,-45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,593},{230,195}}</string>
				<key>offset</key>
				<string>{-27,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,299},{292,203}}</string>
				<key>offset</key>
				<string>{-30,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,622},{360,240}}</string>
				<key>offset</key>
				<string>{-29,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{462,296}}</string>
				<key>offset</key>
				<string>{6,25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1},{460,296}}</string>
				<key>offset</key>
				<string>{-9,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,299},{348,321}}</string>
				<key>offset</key>
				<string>{-26,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,1},{348,356}}</string>
				<key>offset</key>
				<string>{-26,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{396,365}}</string>
				<key>offset</key>
				<string>{-9,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,1},{348,369}}</string>
				<key>offset</key>
				<string>{-11,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,368},{350,340}}</string>
				<key>offset</key>
				<string>{-4,55}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,299},{358,343}}</string>
				<key>offset</key>
				<string>{-8,54}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,351},{354,282}}</string>
				<key>offset</key>
				<string>{-12,91}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/explode/001_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,644},{331,251}}</string>
				<key>offset</key>
				<string>{-10,104}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shellexplode.png</string>
			<key>realTextureFileName</key>
			<string>shellexplode.png</string>
			<key>size</key>
			<string>{2045,983}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>983</integer>
		</dict>
	</dict>
</plist>