<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/shell/warhead/001_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1589},{68,84}}</string>
				<key>offset</key>
				<string>{-182,210}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1833},{155,166}}</string>
				<key>offset</key>
				<string>{-156,170}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1833},{176,201}}</string>
				<key>offset</key>
				<string>{-150,152}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1589},{210,242}}</string>
				<key>offset</key>
				<string>{-133,115}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1287},{234,300}}</string>
				<key>offset</key>
				<string>{-112,70}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,883},{273,402}}</string>
				<key>offset</key>
				<string>{-83,27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{323,459}}</string>
				<key>offset</key>
				<string>{-66,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/warhead/001_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,462},{291,419}}</string>
				<key>offset</key>
				<string>{-47,-46}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shellwarhead.png</string>
			<key>realTextureFileName</key>
			<string>shellwarhead.png</string>
			<key>size</key>
			<string>{335,2035}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>335</integer>
			<key>height</key>
			<integer>2035</integer>
		</dict>
	</dict>
</plist>