<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/shell/aim/001_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1340,1},{307,205}}</string>
				<key>offset</key>
				<string>{-24,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/aim/001_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1},{321,213}}</string>
				<key>offset</key>
				<string>{-24,-89}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/aim/001_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{338,219}}</string>
				<key>offset</key>
				<string>{-23,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/aim/001_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{356,226}}</string>
				<key>offset</key>
				<string>{-23,-90}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/aim/001_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,1},{316,210}}</string>
				<key>offset</key>
				<string>{-23,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/aim/001_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,1},{291,198}}</string>
				<key>offset</key>
				<string>{-23,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>effect/shell/aim/001_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,201},{284,194}}</string>
				<key>offset</key>
				<string>{-22,-87}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>shellaim.png</string>
			<key>realTextureFileName</key>
			<string>shellaim.png</string>
			<key>size</key>
			<string>{1941,396}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1941</integer>
			<key>height</key>
			<integer>396</integer>
		</dict>
	</dict>
</plist>