<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/war/war_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,371},{117,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,122}</string>
			</dict>
			<key>common/war/war_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{638,1009}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,1009}</string>
			</dict>
			<key>common/war/war_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,237},{383,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,38}</string>
			</dict>
			<key>common/war/war_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,371},{383,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{383,38}</string>
			</dict>
			<key>common/war/war_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,488},{56,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,32}</string>
			</dict>
			<key>common/war/war_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,237},{178,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,134}</string>
			</dict>
			<key>common/war/war_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,488},{84,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,90}</string>
			</dict>
			<key>common/war/war_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,0},{237,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,377}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>war_img.png</string>
			<key>realTextureFileName</key>
			<string>war_img.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>