<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/i/i_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1000},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>common/i/i_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,688},{37,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,42}</string>
			</dict>
			<key>common/i/i_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,783},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>common/i/i_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,384},{31,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,37}</string>
			</dict>
			<key>common/i/i_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,756},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>common/i/i_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,957},{81,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,62}</string>
			</dict>
			<key>common/i/i_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,957},{64,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,76}</string>
			</dict>
			<key>common/i/i_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,566},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,32}</string>
			</dict>
			<key>common/i/i_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,644},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
			<key>common/i/i_010_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,954},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>common/i/i_010_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,203},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>common/i/i_010_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,341},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>common/i/i_010_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,518},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>common/i/i_010_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,649},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>common/i/i_010_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,649},{76,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,68}</string>
			</dict>
			<key>common/i/i_011_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,825},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,649},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,731},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,649},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,813},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,731},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,813},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_011_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,526},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>common/i/i_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,384},{34,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,31}</string>
			</dict>
			<key>common/i/i_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,863},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>common/i/i_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,895},{60,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,53}</string>
			</dict>
			<key>common/i/i_015_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,718},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>common/i/i_015_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,673},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>common/i/i_015_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,711},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>common/i/i_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,341},{74,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,77}</string>
			</dict>
			<key>common/i/i_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,608},{42,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,38}</string>
			</dict>
			<key>common/i/i_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,855},{106,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,107}</string>
			</dict>
			<key>common/i/i_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,281},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>common/i/i_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,789},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>common/i/i_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{247,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,297}</string>
			</dict>
			<key>common/i/i_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,1000},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,23}</string>
			</dict>
			<key>common/i/i_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,291},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>common/i/i_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,957},{88,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,63}</string>
			</dict>
			<key>common/i/i_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,341},{93,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,90}</string>
			</dict>
			<key>common/i/i_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{237,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{237,351}</string>
			</dict>
			<key>common/i/i_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,203},{142,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,168}</string>
			</dict>
			<key>common/i/i_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,829},{81,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,84}</string>
			</dict>
			<key>common/i/i_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,739},{81,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,84}</string>
			</dict>
			<key>common/i/i_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,566},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>common/i/i_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,915},{39,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,51}</string>
			</dict>
			<key>common/i/i_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,595},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>common/i/i_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,739},{88,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,78}</string>
			</dict>
			<key>common/i/i_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,436},{79,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,80}</string>
			</dict>
			<key>common/i/i_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,651},{85,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,86}</string>
			</dict>
			<key>common/i/i_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,950},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>common/i/i_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,915},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>common/i/i_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,339},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>common/i/i_033_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>common/i/i_034_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,653},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>common/i/i_035_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,653},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>common/i/i_036_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,347},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>common/i/i_039_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,419},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>common/i/i_039_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,516},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>common/i/i_039_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,515},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>common/i/i_039_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,596},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>common/i/i_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,863},{34,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,27}</string>
			</dict>
			<key>common/i/i_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,615},{37,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,32}</string>
			</dict>
			<key>common/i/i_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,526},{87,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,82}</string>
			</dict>
			<key>common/i/i_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,631},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>common/i/i_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{760,462},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>common/i/i_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,946},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>common/i/i_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,855},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/i/i_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,855},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/i/i_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/i/i_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,549},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/i/i_034_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,1},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>common/i/hstar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,964},{135,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,34}</string>
			</dict>
			<key>common/i/hstar6.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,305},{135,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,34}</string>
			</dict>
			<key>common/i/i_051.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,436},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/i/i_052.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,673},{35,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,43}</string>
			</dict>
			<key>common/i/i_053.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,895},{60,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,50}</string>
			</dict>
			<key>common/i/i_054_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,565},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>common/i/i_054_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,565},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>common/i/i_054_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,756},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>common/i/i_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,956},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>common/i/i_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,847},{47,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,41}</string>
			</dict>
			<key>common/i/i_057.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,596},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>common/i/i_058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,855},{127,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,166}</string>
			</dict>
			<key>common/i/i_059.png</key>
			<dict>
				<key>frame</key>
				<string>{{879,946},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>common/i/i_050.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,203},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/i/i_060.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,203},{106,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,86}</string>
			</dict>
			<key>common/i/i_061.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,615},{42,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,32}</string>
			</dict>
			<key>common/i/i_062.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,474},{41,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,47}</string>
			</dict>
			<key>common/i/i_063.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,892},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,53}</string>
			</dict>
			<key>common/i/i_065.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,907},{53,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,45}</string>
			</dict>
			<key>common/i/i_067.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,727},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>common/i/i_069.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,596},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>common/i/i_071.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,907},{44,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,53}</string>
			</dict>
			<key>common/i/i_072.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,419},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>common/i/i_073.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,895},{49,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,52}</string>
			</dict>
			<key>common/i/i_074.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,291},{48,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,52}</string>
			</dict>
			<key>common/i/i_075.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,615},{32,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,37}</string>
			</dict>
			<key>common/i/i_077.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,947},{76,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,82}</string>
			</dict>
			<key>common/i/i_078.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,727},{66,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,59}</string>
			</dict>
			<key>common/i/i_079.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,795},{66,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,59}</string>
			</dict>
			<key>common/i/i_080.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,505},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>common/i/i_081.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,589},{40,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,39}</string>
			</dict>
			<key>common/i/i_082.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,547},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>common/i/i_083.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,417},{40,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,43}</string>
			</dict>
			<key>common/i/i_084.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,474},{40,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
			<key>common/i/i_085.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,469},{40,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icon.png</string>
			<key>realTextureFileName</key>
			<string>icon.png</string>
			<key>size</key>
			<string>{936,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>936</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>