<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_rpg_bic03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,15}}</string>
                <key>sourceSize</key>
                <string>{55,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_rpg_bic03.png</string>
            <key>size</key>
            <string>{59,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e257db479b241ed2deee4380a847beb:1/1$</string>
            <key>textureFileName</key>
            <string>amm_rpg_bic03.png</string>
        </dict>
    </dict>
</plist>
