<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_rif_ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{97,89}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,78},{97,89}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rif_ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{89,79}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{89,79}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rif_ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{89,105}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,80},{89,105}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rif_ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{93,97}}</string>
                <key>offset</key>
                <string>{-30,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,76},{93,97}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rif_ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,129}}</string>
                <key>offset</key>
                <string>{-47,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,55},{121,129}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rif_ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,93},{71,31}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,101},{71,31}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_rif_ski02.png</string>
            <key>size</key>
            <string>{491,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd19d8419ca1a4f00f21d56b3b401527:1/1$</string>
            <key>textureFileName</key>
            <string>amm_rif_ski02.png</string>
        </dict>
    </dict>
</plist>
