<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_rpg_bic02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{166,61}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{166,61}}</string>
                <key>sourceSize</key>
                <string>{236,85}</string>
            </dict>
            <key>amm_rpg_bic02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,65}}</string>
                <key>offset</key>
                <string>{20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,11},{188,65}}</string>
                <key>sourceSize</key>
                <string>{236,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_rpg_bic02.png</string>
            <key>size</key>
            <string>{360,69}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c72fad0a709037ec4cdfced5269ae4e7:1/1$</string>
            <key>textureFileName</key>
            <string>amm_rpg_bic02.png</string>
        </dict>
    </dict>
</plist>
