<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_cru_bic01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{101,54}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,54}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>amm_cru_bic01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{107,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,56}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>amm_cru_bic01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{109,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,56}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>amm_cru_bic01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{113,56}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_cru_bic01.png</string>
            <key>size</key>
            <string>{440,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e69636cedb15616ec602770a2e3321c:1/1$</string>
            <key>textureFileName</key>
            <string>amm_cru_bic01.png</string>
        </dict>
    </dict>
</plist>
