<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_fire_ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,314},{185,185}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{185,185}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{143,129}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,57},{143,129}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{151,173}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,40},{151,173}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,133},{153,171}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{153,171}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,159},{153,159}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,38},{153,159}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{153,161}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,36},{153,161}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,288},{155,159}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,36},{155,159}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{141,155}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,35},{141,155}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{125,131}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,42},{125,131}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_fire_ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,103}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,41},{99,103}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_fire_ski01.png</string>
            <key>size</key>
            <string>{528,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9047a1fe3853d1f370aa9620e77fef7:1/1$</string>
            <key>textureFileName</key>
            <string>amm_fire_ski01.png</string>
        </dict>
    </dict>
</plist>
