<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_mis_ski02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,401},{139,101}}</string>
                <key>offset</key>
                <string>{-6,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,111},{139,101}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,234},{167,165}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{167,165}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,221}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{221,221}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{209,215}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{209,215}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,225},{203,209}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{203,209}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{195,179}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,3},{195,179}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{191,127}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{191,127}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,131},{179,101}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{179,101}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,436},{169,73}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{169,73}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_mis_ski02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{29,29}}</string>
                <key>offset</key>
                <string>{-31,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,39},{29,29}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_mis_ski02.png</string>
            <key>size</key>
            <string>{611,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9865421be6c1957a81564f1e4d7f0d5:1/1$</string>
            <key>textureFileName</key>
            <string>amm_mis_ski02.png</string>
        </dict>
    </dict>
</plist>
