<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_mis_bic03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{156,26}}</string>
                <key>sourceSize</key>
                <string>{158,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_mis_bic03.png</string>
            <key>size</key>
            <string>{160,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:528ef5d38ef9582c07a5f97706662c89:1/1$</string>
            <key>textureFileName</key>
            <string>amm_mis_bic03.png</string>
        </dict>
    </dict>
</plist>
