<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_fire_bic01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{89,46}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{89,46}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>amm_fire_bic01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{101,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{101,46}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>amm_fire_bic01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{107,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{107,46}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
            <key>amm_fire_bic01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,48}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{81,48}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_fire_bic01.png</string>
            <key>size</key>
            <string>{388,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d54452864dccf2fb631c687cdd17d7ae:1/1$</string>
            <key>textureFileName</key>
            <string>amm_fire_bic01.png</string>
        </dict>
    </dict>
</plist>
