<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_art_ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{207,171}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{207,171}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{225,173}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{225,173}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{191,169}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,38},{191,169}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{207,157}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{207,157}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{209,157}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,49},{209,157}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{209,155}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{209,155}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{203,139}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{203,139}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{199,125}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,50},{199,125}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1137},{85,93}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,49},{85,93}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,177},{11,9}}</string>
                <key>offset</key>
                <string>{84,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,154},{11,9}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_art_ski01.png</string>
            <key>size</key>
            <string>{229,1338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c23d80e7024ca6b2438b00397b0ba240:1/1$</string>
            <key>textureFileName</key>
            <string>amm_art_ski01.png</string>
        </dict>
    </dict>
</plist>
