<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_art_ski02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,135},{117,143}}</string>
                <key>offset</key>
                <string>{-9,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,70},{117,143}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{131,157}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,55},{131,157}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{151,173}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,40},{151,173}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{165,185}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{165,185}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{169,193}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,19},{169,193}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{175,201}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{175,201}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_art_ski02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,205}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{177,205}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_art_ski02.png</string>
            <key>size</key>
            <string>{1008,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b52170a5ff0ba21903e6e0cb0ec21b4f:1/1$</string>
            <key>textureFileName</key>
            <string>amm_art_ski02.png</string>
        </dict>
    </dict>
</plist>
