<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_rpg_ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,2},{89,81}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,118},{89,81}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rpg_ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{169,155}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{169,155}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rpg_ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{177,175}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,41},{177,175}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rpg_ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,187}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,34},{183,187}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rpg_ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{185,207}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,14},{185,207}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rpg_ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{183,203}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,12},{183,203}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
            <key>amm_rpg_ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,93},{105,69}}</string>
                <key>offset</key>
                <string>{4,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,10},{105,69}}</string>
                <key>sourceSize</key>
                <string>{271,221}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_rpg_ski01.png</string>
            <key>size</key>
            <string>{1018,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df954dedda158b70ad60d98c4e05e30:1/1$</string>
            <key>textureFileName</key>
            <string>amm_rpg_ski01.png</string>
        </dict>
    </dict>
</plist>
