<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_mis_bic01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,66}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{152,66}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>amm_mis_bic01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,66}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{152,66}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
            <key>amm_mis_bic01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{142,66}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{142,66}}</string>
                <key>sourceSize</key>
                <string>{176,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_mis_bic01.png</string>
            <key>size</key>
            <string>{454,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:953905a72c49769bb0a4ba028291d289:1/1$</string>
            <key>textureFileName</key>
            <string>amm_mis_bic01.png</string>
        </dict>
    </dict>
</plist>
