<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amm_mis_bic02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{104,23}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{104,23}}</string>
                <key>sourceSize</key>
                <string>{118,33}</string>
            </dict>
            <key>amm_mis_bic02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{108,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{108,23}}</string>
                <key>sourceSize</key>
                <string>{118,33}</string>
            </dict>
            <key>amm_mis_bic02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{112,23}}</string>
                <key>sourceSize</key>
                <string>{118,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amm_mis_bic02.png</string>
            <key>size</key>
            <string>{332,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7cea2c6a804fa26b2ee51356ecd2a10:1/1$</string>
            <key>textureFileName</key>
            <string>amm_mis_bic02.png</string>
        </dict>
    </dict>
</plist>
