<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_def01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>buff_def01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{31,31}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_def01.png</string>
            <key>size</key>
            <string>{168,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ef6f49192032081b834a5b2fbba1560:1/1$</string>
            <key>textureFileName</key>
            <string>buff_def01.png</string>
        </dict>
    </dict>
</plist>
