<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_rep01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,491},{168,143}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{168,143}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,636},{168,141}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{168,141}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,167}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{164,161}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,161}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,342},{164,151}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,151}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,495},{164,143}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,143}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,640},{134,133}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{134,133}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,775},{128,121}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{128,121}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{168,155}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{168,155}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,172},{168,157}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,157}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,332},{168,157}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{168,157}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,159}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{168,159}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,171},{168,159}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{168,159}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{168,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,165}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{168,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,167}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>buff_rep01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,167}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_rep01.png</string>
            <key>size</key>
            <string>{510,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7557c45c5a0b668c594fe9790ea41740:1/1$</string>
            <key>textureFileName</key>
            <string>buff_rep01.png</string>
        </dict>
    </dict>
</plist>
