<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_start01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{39,72}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{39,72}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,2},{69,120}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{69,120}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{87,106}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{87,106}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{97,112}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{97,112}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,112}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{97,112}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{93,120}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{93,120}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{93,98}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{93,98}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,2},{83,90}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{83,90}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{83,92}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{83,92}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{77,110}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{77,110}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,2},{91,114}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{91,114}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{91,114}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{91,114}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{89,114}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{89,114}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{85,110}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{85,110}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{93,118}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{93,118}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{93,112}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{93,112}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
            <key>com_start01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{93,110}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{93,110}}</string>
                <key>sourceSize</key>
                <string>{97,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com_start01.png</string>
            <key>size</key>
            <string>{1811,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:640416633749cece788ce47c7996fc66:1/1$</string>
            <key>textureFileName</key>
            <string>com_start01.png</string>
        </dict>
    </dict>
</plist>
