<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_die01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,90},{66,38}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,142},{66,38}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{86,74}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,107},{86,74}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{140,138}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{140,138}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,144}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{96,144}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,144},{96,132}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,9},{96,132}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{94,132}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{94,132}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,138},{94,132}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{94,132}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{78,122}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{78,122}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,126},{50,122}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,2},{50,122}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,136},{88,86}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,93},{88,86}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{94,102}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,74},{94,102}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,148},{100,108}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,66},{100,108}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,140},{110,118}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,53},{110,118}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,132},{118,124}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,45},{118,124}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{124,128}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{124,128}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{126,134}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{126,134}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
            <key>eff_die01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{134,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{134,136}}</string>
                <key>sourceSize</key>
                <string>{146,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_die01.png</string>
            <key>size</key>
            <string>{890,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e3c39af71c6cac4a6111056ef2e2f7e:1/1$</string>
            <key>textureFileName</key>
            <string>eff_die01.png</string>
        </dict>
    </dict>
</plist>
