<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>barpos_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,11},{72,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,7}}</string>
                <key>sourceSize</key>
                <string>{72,7}</string>
            </dict>
            <key>barpos_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{48,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,7}}</string>
                <key>sourceSize</key>
                <string>{48,7}</string>
            </dict>
            <key>barpos_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{72,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,7}}</string>
                <key>sourceSize</key>
                <string>{72,7}</string>
            </dict>
            <key>barpos_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,17}}</string>
                <key>sourceSize</key>
                <string>{80,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillBar.png</string>
            <key>size</key>
            <string>{208,21}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab5ef2cc1443d4a9167253f5cff6277:1/1$</string>
            <key>textureFileName</key>
            <string>skillBar.png</string>
        </dict>
    </dict>
</plist>
