<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>login/loginbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1244},{577,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{577,338}</string>
			</dict>
			<key>login/loginbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1244},{358,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{358,84}</string>
			</dict>
			<key>login/loginmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1802},{94,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,50}</string>
			</dict>
			<key>login/loginzh.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1908},{95,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,51}</string>
			</dict>
			<key>login/loginbg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1749},{151,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,53}</string>
			</dict>
			<key>login/loginbg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1802},{151,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,53}</string>
			</dict>
			<key>login/loginbg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1749},{151,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,53}</string>
			</dict>
			<key>login/loginbg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1694},{268,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,55}</string>
			</dict>
			<key>login/loginbg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,760},{484,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{484,410}</string>
			</dict>
			<key>login/loginbg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1913},{591,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{591,56}</string>
			</dict>
			<key>login/loginbg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1969},{591,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{591,56}</string>
			</dict>
			<key>login/loginbg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{618,760}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{618,760}</string>
			</dict>
			<key>login/loginbg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1821},{460,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{460,92}</string>
			</dict>
			<key>login/loginbg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1602},{241,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{241,92}</string>
			</dict>
			<key>login/loginbg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1855},{151,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,53}</string>
			</dict>
			<key>login/loginText1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,2003},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>login/loginText2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,2003},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>login/loginText3.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1896},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>login/loginText4.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1935},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>login_bg.png</string>
			<key>realTextureFileName</key>
			<string>login_bg.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>