<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/a2/a2_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,0},{525,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{525,139}</string>
			</dict>
			<key>common/a2/a2_cz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1775},{567,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{567,234}</string>
			</dict>
			<key>common/a2/a2_cz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1775},{555,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,233}</string>
			</dict>
			<key>common/a2/a2_cz3.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1555},{377,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{377,121}</string>
			</dict>
			<key>common/a2/a2_yk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{640,866}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,866}</string>
			</dict>
			<key>common/a2/a2_yk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,0},{640,866}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,866}</string>
			</dict>
			<key>common/a2/a2_yk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1904,525},{286,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,109}</string>
			</dict>
			<key>common/a2/a2_fl1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,0},{626,796}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{626,796}</string>
			</dict>
			<key>common/a2/a2_fl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1657,1458},{212,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{212,109}</string>
			</dict>
			<key>common/a2/a2_jc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,866},{592,899}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{592,899}</string>
			</dict>
			<key>common/a2/a2_jj1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1434},{473,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{473,121}</string>
			</dict>
			<key>common/a2/a2_jj2.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1676},{111,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,99}</string>
			</dict>
			<key>common/a2/a2_jj3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,1458},{544,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,181}</string>
			</dict>
			<key>common/a2/a2_sc1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{638,909}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,909}</string>
			</dict>
			<key>common/a2/a2_sc2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,1639},{286,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,109}</string>
			</dict>
			<key>common/a2/a2_tt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1278,796},{67,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,143}</string>
			</dict>
			<key>common/a2/a2_tt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1421,796},{67,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,143}</string>
			</dict>
			<key>common/a2/a2_tt3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,1555},{137,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,76}</string>
			</dict>
			<key>common/a2/a2_tt4.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,866},{568,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{568,479}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>a2_hd.png</string>
			<key>realTextureFileName</key>
			<string>a2_hd.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>