<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/efflogin/xuanzheyemian01_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,0},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,0},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,0},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,0},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,523},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,726},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,117},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,117},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
			<key>effect/efflogin/xuanzheyemian01_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,117},{203,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,117}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>efflogin.png</string>
			<key>realTextureFileName</key>
			<string>efflogin.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>