<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car014-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{220,149}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{220,149}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,463},{168,105}}</string>
                <key>offset</key>
                <string>{-32,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{168,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,356},{190,105}}</string>
                <key>offset</key>
                <string>{-42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,88},{190,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{224,157}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{224,157}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,175},{232,179}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,14},{232,179}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,171}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{244,171}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,173}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{244,173}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,897},{128,105}}</string>
                <key>offset</key>
                <string>{-31,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{128,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,872},{136,105}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{136,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,895},{146,105}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{146,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,574},{148,107}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{148,105}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,88},{148,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,788},{148,105}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,88},{148,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,683},{148,105}}</string>
                <key>offset</key>
                <string>{-21,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{148,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,570},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,790},{146,105}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,88},{146,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,574},{148,105}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,88},{148,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,465},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,356},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,724},{146,105}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{146,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{148,105}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,88},{148,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,895},{146,105}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{146,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,574},{148,107}}</string>
                <key>offset</key>
                <string>{-22,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,463},{168,105}}</string>
                <key>offset</key>
                <string>{-32,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{168,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,356},{190,105}}</string>
                <key>offset</key>
                <string>{-42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,88},{190,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,679},{148,107}}</string>
                <key>offset</key>
                <string>{-21,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,86},{148,107}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{220,149}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,44},{220,149}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{224,157}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{224,157}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,175},{232,179}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,14},{232,179}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{244,171}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{244,171}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,173}}</string>
                <key>offset</key>
                <string>{25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{244,173}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,897},{128,105}}</string>
                <key>offset</key>
                <string>{-31,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,88},{128,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
            <key>ame_car014-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,872},{136,105}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{136,105}}</string>
                <key>sourceSize</key>
                <string>{296,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car014.png</string>
            <key>size</key>
            <string>{566,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d039801aece7b444067568c78a4e5ce:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car014.png</string>
        </dict>
    </dict>
</plist>
