<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car002-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,130},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{151,150}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,42},{151,150}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{165,124}}</string>
                <key>offset</key>
                <string>{-44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,68},{165,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{179,124}}</string>
                <key>offset</key>
                <string>{-51,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,68},{179,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{149,144}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{149,144}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,152}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{161,152}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,156},{115,160}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{115,160}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{115,170}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{115,170}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{115,170}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{115,170}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,318},{115,158}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{115,158}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,154},{121,138}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{121,138}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{153,126}}</string>
                <key>offset</key>
                <string>{-38,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,66},{153,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,364},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,382},{115,124}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,256},{115,124}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,373},{115,124}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,364},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,247},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,130},{115,124}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,119},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,247},{115,124}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,119},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,373},{115,124}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,148},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,247},{115,124}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,294},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,276},{115,124}}</string>
                <key>offset</key>
                <string>{-19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,68},{115,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,130},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,130},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,154},{121,138}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,54},{121,138}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{153,126}}</string>
                <key>offset</key>
                <string>{-38,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,66},{153,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{165,124}}</string>
                <key>offset</key>
                <string>{-44,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,68},{165,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{179,124}}</string>
                <key>offset</key>
                <string>{-51,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,68},{179,124}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,130},{115,126}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,66},{115,126}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,2},{151,150}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,42},{151,150}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{149,144}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{149,144}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,152}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{161,152}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,156},{115,160}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{115,160}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{115,170}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,22},{115,170}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{115,170}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,22},{115,170}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
            <key>ame_car002-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,318},{115,158}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{115,158}}</string>
                <key>sourceSize</key>
                <string>{283,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car002.png</string>
            <key>size</key>
            <string>{968,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60b56632a287489d9d2ba08b5584b719:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car002.png</string>
        </dict>
    </dict>
</plist>
