<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car018-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,422},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,313},{130,105}}</string>
                <key>offset</key>
                <string>{-54,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{130,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{142,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{142,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,101}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,101}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,210},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,208},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,210},{142,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{142,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,101}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,101}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,105},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,315},{186,105}}</string>
                <key>offset</key>
                <string>{-26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,210},{194,103}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{194,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,315},{132,109}}</string>
                <key>offset</key>
                <string>{-52,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{132,109}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,105},{132,103}}</string>
                <key>offset</key>
                <string>{-53,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{132,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,208},{138,103}}</string>
                <key>offset</key>
                <string>{-50,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{138,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,422},{144,105}}</string>
                <key>offset</key>
                <string>{-48,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,420},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,105},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{142,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{142,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,101}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,315},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,105},{142,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{142,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,101}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,315},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,422},{146,105}}</string>
                <key>offset</key>
                <string>{-48,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{146,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,105},{144,101}}</string>
                <key>offset</key>
                <string>{-49,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{144,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,105},{146,101}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{146,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,313},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,422},{146,105}}</string>
                <key>offset</key>
                <string>{-48,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{146,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{144,101}}</string>
                <key>offset</key>
                <string>{-49,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{144,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{146,101}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{146,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,422},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,313},{130,105}}</string>
                <key>offset</key>
                <string>{-54,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{130,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{142,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{142,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{142,101}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{142,101}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,210},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,208},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,210},{142,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{142,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,101}}</string>
                <key>offset</key>
                <string>{-48,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{142,101}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{142,101}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,105},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,315},{186,105}}</string>
                <key>offset</key>
                <string>{-26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{186,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,210},{194,103}}</string>
                <key>offset</key>
                <string>{-22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{194,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,315},{132,109}}</string>
                <key>offset</key>
                <string>{-52,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{132,109}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,105},{132,103}}</string>
                <key>offset</key>
                <string>{-53,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{132,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,208},{138,103}}</string>
                <key>offset</key>
                <string>{-50,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{138,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,422},{144,105}}</string>
                <key>offset</key>
                <string>{-48,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,420},{144,105}}</string>
                <key>offset</key>
                <string>{-47,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{144,105}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>ame_car018-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,105},{144,103}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{144,103}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car018.png</string>
            <key>size</key>
            <string>{1015,529}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ac6b138a2df6607f5fa0469af83917c:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car018.png</string>
        </dict>
    </dict>
</plist>
