<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car019-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,325},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{255,162}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,73},{255,162}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{291,152}}</string>
                <key>offset</key>
                <string>{-30,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,83},{291,152}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,166}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,69},{325,166}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{209,180}}</string>
                <key>offset</key>
                <string>{-99,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,55},{209,180}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{225,196}}</string>
                <key>offset</key>
                <string>{-106,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{225,196}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{239,196}}</string>
                <key>offset</key>
                <string>{-112,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{239,196}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,324},{145,174}}</string>
                <key>offset</key>
                <string>{-65,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,60},{145,174}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,347},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,470},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,461},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,125},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,424},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,500},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,502},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,390},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,312},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,522},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,278},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,213},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,200},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,200},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,166},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,125},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,170},{145,110}}</string>
                <key>offset</key>
                <string>{-65,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,124},{145,110}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,325},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,325},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,325},{143,112}}</string>
                <key>offset</key>
                <string>{-64,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,123},{143,112}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{255,162}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,73},{255,162}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{291,152}}</string>
                <key>offset</key>
                <string>{-30,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,83},{291,152}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,166}}</string>
                <key>offset</key>
                <string>{-28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,69},{325,166}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{209,180}}</string>
                <key>offset</key>
                <string>{-99,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,55},{209,180}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{225,196}}</string>
                <key>offset</key>
                <string>{-106,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{225,196}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{239,196}}</string>
                <key>offset</key>
                <string>{-112,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{239,196}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
            <key>ame_car019-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,324},{145,174}}</string>
                <key>offset</key>
                <string>{-65,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,60},{145,174}}</string>
                <key>sourceSize</key>
                <string>{463,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car019.png</string>
            <key>size</key>
            <string>{995,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4e2d601b902c952bff2388565b3fea9:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car019.png</string>
        </dict>
    </dict>
</plist>
