<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_npc007-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,193},{174,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{174,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{140,183}}</string>
                <key>offset</key>
                <string>{-48,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{140,183}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,191},{116,175}}</string>
                <key>offset</key>
                <string>{-60,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{116,175}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,171},{122,165}}</string>
                <key>offset</key>
                <string>{-59,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{122,165}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,2},{144,167}}</string>
                <key>offset</key>
                <string>{-47,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{144,167}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,169}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{250,169}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{208,181}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{208,181}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,193},{174,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{174,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,191},{172,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{172,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{172,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{172,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{172,189}}</string>
                <key>offset</key>
                <string>{-38,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{172,189}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,193},{170,189}}</string>
                <key>offset</key>
                <string>{-38,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{170,189}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{170,191}}</string>
                <key>offset</key>
                <string>{-39,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{170,191}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,195},{170,191}}</string>
                <key>offset</key>
                <string>{-39,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{170,191}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{170,191}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{170,191}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,193},{172,189}}</string>
                <key>offset</key>
                <string>{-38,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{172,189}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{172,189}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{172,189}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{170,187}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{170,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{164,189}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{164,189}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{156,195}}</string>
                <key>offset</key>
                <string>{-48,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{156,195}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{164,191}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{164,191}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,212},{182,187}}</string>
                <key>offset</key>
                <string>{-41,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{182,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,195},{172,189}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{172,189}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,199},{162,193}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{162,193}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,195},{168,191}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{168,191}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,193},{174,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{174,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,193},{174,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{174,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,193},{174,187}}</string>
                <key>offset</key>
                <string>{-37,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{174,187}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{140,183}}</string>
                <key>offset</key>
                <string>{-48,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,23},{140,183}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,191},{116,175}}</string>
                <key>offset</key>
                <string>{-60,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,31},{116,175}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,171},{122,165}}</string>
                <key>offset</key>
                <string>{-59,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{122,165}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,2},{144,167}}</string>
                <key>offset</key>
                <string>{-47,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,39},{144,167}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,169}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,37},{250,169}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
            <key>ame_npc007-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{208,181}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,25},{208,181}}</string>
                <key>sourceSize</key>
                <string>{272,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_npc007.png</string>
            <key>size</key>
            <string>{2030,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62d6b03c6fe099dc98a495a3252881bf:1/1$</string>
            <key>textureFileName</key>
            <string>ame_npc007.png</string>
        </dict>
    </dict>
</plist>
