<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_npc004-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,257},{121,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,34},{121,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,244},{127,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{127,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,142}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{163,142}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{155,130}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{155,130}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{137,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{137,130}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{133,114}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{133,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,128},{133,112}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{133,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,134},{133,112}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{133,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{163,120}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{163,120}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{157,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{157,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{159,112}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{159,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{159,124}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{159,124}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{165,128}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{165,128}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,281},{121,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{121,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,358},{125,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,34},{125,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,232},{129,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{129,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,116},{131,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{131,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,116},{131,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{131,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,396},{131,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{131,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,397},{131,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{131,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,263},{131,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{131,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,230},{129,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{129,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,380},{125,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,34},{125,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,134},{127,108}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{127,108}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,134},{121,112}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{121,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,380},{125,116}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{125,116}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,396},{127,112}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{127,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,269},{125,114}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{125,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,380},{119,114}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{119,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,257},{121,114}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,34},{121,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,244},{127,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{127,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,142}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{163,142}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{155,130}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{155,130}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{137,130}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{137,130}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{133,114}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,34},{133,114}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,128},{133,112}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{133,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,134},{133,112}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{133,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{163,120}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{163,120}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{157,112}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{157,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{159,112}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{159,112}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{159,124}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{159,124}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>ame_npc004-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{165,128}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{165,128}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_npc004.png</string>
            <key>size</key>
            <string>{995,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:580bf473d14d4d1ae221deea63c8dce8:1/1$</string>
            <key>textureFileName</key>
            <string>ame_npc004.png</string>
        </dict>
    </dict>
</plist>
