<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car006-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,302},{178,130}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{178,130}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,306},{144,104}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{144,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{162,104}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,72},{162,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,160},{176,140}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{176,140}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{182,158}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{182,158}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,156}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{188,156}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,156}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{188,156}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,694},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,626},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,412},{138,106}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,70},{138,106}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{138,112}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,64},{138,112}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,838},{138,102}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,74},{138,102}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,904},{138,102}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{138,102}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,588},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,838},{138,102}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,74},{138,102}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,520},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,482},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{138,102}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{138,102}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,800},{138,102}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,74},{138,102}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,412},{138,106}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,70},{138,106}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,166},{138,112}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,64},{138,112}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,306},{144,104}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,72},{144,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{162,104}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,72},{162,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,732},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,302},{178,130}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{178,130}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,160},{176,140}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{176,140}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{182,158}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{182,158}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,156}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{188,156}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,156}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{188,156}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,694},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
            <key>ame_car006-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,626},{138,104}}</string>
                <key>offset</key>
                <string>{-19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,72},{138,104}}</string>
                <key>sourceSize</key>
                <string>{228,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car006.png</string>
            <key>size</key>
            <string>{490,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f554327eb47bd4064af20fa8b8237cd:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car006.png</string>
        </dict>
    </dict>
</plist>
