<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car022-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,168},{230,140}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,50},{230,140}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,168},{232,132}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{232,132}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,142}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{266,142}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,310},{188,152}}</string>
                <key>offset</key>
                <string>{-72,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{188,152}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{202,164}}</string>
                <key>offset</key>
                <string>{-80,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{202,164}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{212,164}}</string>
                <key>offset</key>
                <string>{-83,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{212,164}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,402},{152,148}}</string>
                <key>offset</key>
                <string>{-48,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{152,148}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,860},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{154,114}}</string>
                <key>offset</key>
                <string>{-47,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{154,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{152,112}}</string>
                <key>offset</key>
                <string>{-48,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{152,112}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,784},{152,114}}</string>
                <key>offset</key>
                <string>{-48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,696},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,464},{154,114}}</string>
                <key>offset</key>
                <string>{-47,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{154,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,900},{152,112}}</string>
                <key>offset</key>
                <string>{-48,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{152,112}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{152,114}}</string>
                <key>offset</key>
                <string>{-48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,706},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{154,114}}</string>
                <key>offset</key>
                <string>{-47,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{154,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,812},{152,112}}</string>
                <key>offset</key>
                <string>{-48,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{152,112}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,668},{152,114}}</string>
                <key>offset</key>
                <string>{-48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,580},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{154,114}}</string>
                <key>offset</key>
                <string>{-47,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{154,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,552},{152,112}}</string>
                <key>offset</key>
                <string>{-48,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,78},{152,112}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,552},{152,114}}</string>
                <key>offset</key>
                <string>{-48,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{152,114}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,76},{152,114}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,168},{230,140}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,50},{230,140}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,168},{232,132}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,58},{232,132}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,142}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{266,142}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,310},{188,152}}</string>
                <key>offset</key>
                <string>{-72,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{188,152}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{202,164}}</string>
                <key>offset</key>
                <string>{-80,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,26},{202,164}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{212,164}}</string>
                <key>offset</key>
                <string>{-83,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{212,164}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
            <key>ame_car022-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,402},{152,148}}</string>
                <key>offset</key>
                <string>{-48,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{152,148}}</string>
                <key>sourceSize</key>
                <string>{378,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car022.png</string>
            <key>size</key>
            <string>{582,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fd577ed90a81d36e333bc31d0a629b9:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car022.png</string>
        </dict>
    </dict>
</plist>
