<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car008-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,907},{152,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{152,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,292},{148,111}}</string>
                <key>offset</key>
                <string>{-39,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,122},{148,111}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,185},{168,105}}</string>
                <key>offset</key>
                <string>{-49,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,128},{168,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{188,105}}</string>
                <key>offset</key>
                <string>{-57,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,128},{188,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{192,105}}</string>
                <key>offset</key>
                <string>{-64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,128},{192,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,401},{152,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,128},{152,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{240,169}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,64},{240,169}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{248,181}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{248,181}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{258,213}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{258,213}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{270,203}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{270,203}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,205}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{272,205}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,859},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,559},{148,105}}</string>
                <key>offset</key>
                <string>{-39,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,128},{148,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,882},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,707},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,775},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,666},{150,107}}</string>
                <key>offset</key>
                <string>{-38,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,126},{150,107}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,405},{152,107}}</string>
                <key>offset</key>
                <string>{-38,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,126},{152,107}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,292},{152,107}}</string>
                <key>offset</key>
                <string>{-38,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,126},{152,107}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,414},{152,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,128},{152,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,629},{152,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,128},{152,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,555},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,800},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,859},{150,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,128},{150,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,559},{148,105}}</string>
                <key>offset</key>
                <string>{-39,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,128},{148,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,292},{148,111}}</string>
                <key>offset</key>
                <string>{-39,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,122},{148,111}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,185},{168,105}}</string>
                <key>offset</key>
                <string>{-49,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,128},{168,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{188,105}}</string>
                <key>offset</key>
                <string>{-57,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,128},{188,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{192,105}}</string>
                <key>offset</key>
                <string>{-64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,128},{192,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,185},{146,105}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{146,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,907},{152,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,128},{152,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,401},{152,105}}</string>
                <key>offset</key>
                <string>{-38,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,128},{152,105}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{240,169}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,64},{240,169}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{248,181}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{248,181}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{258,213}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{258,213}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{270,203}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{270,203}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
            <key>ame_car008-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,205}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{272,205}}</string>
                <key>sourceSize</key>
                <string>{320,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car008.png</string>
            <key>size</key>
            <string>{626,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0233c154629efb46708645e913d92507:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car008.png</string>
        </dict>
    </dict>
</plist>
