<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car024-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,219},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,436},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,440},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,221},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{201,217}}</string>
                <key>offset</key>
                <string>{-69,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,61},{201,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{211,215}}</string>
                <key>offset</key>
                <string>{-73,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{211,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{187,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{187,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,335},{297,217}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,61},{297,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{303,221}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,57},{303,221}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,333},{315,257}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{315,257}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{329,245}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,33},{329,245}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,247}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{331,247}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,2},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,219},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,440},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,221},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,219},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,436},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,440},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,221},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,440},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,221},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,219},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,219},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,436},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,440},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,221},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{201,217}}</string>
                <key>offset</key>
                <string>{-69,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,61},{201,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{211,215}}</string>
                <key>offset</key>
                <string>{-73,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{211,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,2},{187,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,61},{187,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,335},{297,217}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,61},{297,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{303,221}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,57},{303,221}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,333},{315,257}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,21},{315,257}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{329,245}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,33},{329,245}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{331,247}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,31},{331,247}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,2},{185,215}}</string>
                <key>offset</key>
                <string>{-61,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,63},{185,215}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
            <key>ame_car024-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{185,217}}</string>
                <key>offset</key>
                <string>{-61,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,61},{185,217}}</string>
                <key>sourceSize</key>
                <string>{357,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car024.png</string>
            <key>size</key>
            <string>{2038,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e177f17f8894d302b377faa32ed53f:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car024.png</string>
        </dict>
    </dict>
</plist>
