<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car013-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,464},{155,120}}</string>
                <key>offset</key>
                <string>{-31,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,126},{155,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,619},{153,120}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,126},{153,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{171,120}}</string>
                <key>offset</key>
                <string>{-42,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,126},{171,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,342},{195,120}}</string>
                <key>offset</key>
                <string>{-54,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,126},{195,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,220},{205,120}}</string>
                <key>offset</key>
                <string>{-59,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,126},{205,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,498},{157,118}}</string>
                <key>offset</key>
                <string>{-29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,128},{157,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,378},{157,118}}</string>
                <key>offset</key>
                <string>{-28,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,128},{157,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,378},{159,140}}</string>
                <key>offset</key>
                <string>{-34,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,106},{159,140}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,196},{245,180}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{245,180}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{245,192}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,54},{245,192}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{253,224}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,22},{253,224}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{263,216}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{263,216}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,216}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{265,216}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{153,118}}</string>
                <key>offset</key>
                <string>{-34,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,128},{153,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,742},{151,120}}</string>
                <key>offset</key>
                <string>{-35,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,126},{151,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,644},{151,120}}</string>
                <key>offset</key>
                <string>{-35,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,126},{151,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,618},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,766},{149,120}}</string>
                <key>offset</key>
                <string>{-35,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,126},{149,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,864},{149,118}}</string>
                <key>offset</key>
                <string>{-35,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,128},{149,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{153,120}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,126},{153,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,586},{153,120}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,126},{153,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,520},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,828},{151,120}}</string>
                <key>offset</key>
                <string>{-35,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,126},{151,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,708},{153,118}}</string>
                <key>offset</key>
                <string>{-33,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,128},{153,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,828},{151,120}}</string>
                <key>offset</key>
                <string>{-35,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,126},{151,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,464},{153,120}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,126},{153,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{263,216}}</string>
                <key>offset</key>
                <string>{21,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{263,216}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{265,216}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{265,216}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,619},{153,120}}</string>
                <key>offset</key>
                <string>{-33,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,126},{153,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{171,120}}</string>
                <key>offset</key>
                <string>{-42,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,126},{171,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,342},{195,120}}</string>
                <key>offset</key>
                <string>{-54,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,126},{195,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,220},{205,120}}</string>
                <key>offset</key>
                <string>{-59,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,126},{205,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{153,122}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,124},{153,122}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,464},{155,120}}</string>
                <key>offset</key>
                <string>{-31,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,126},{155,120}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,498},{157,118}}</string>
                <key>offset</key>
                <string>{-29,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,128},{157,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,378},{157,118}}</string>
                <key>offset</key>
                <string>{-28,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,128},{157,118}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,378},{159,140}}</string>
                <key>offset</key>
                <string>{-34,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,106},{159,140}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,196},{245,180}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,66},{245,180}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{245,192}}</string>
                <key>offset</key>
                <string>{7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,54},{245,192}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
            <key>ame_car013-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{253,224}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,22},{253,224}}</string>
                <key>sourceSize</key>
                <string>{329,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car013.png</string>
            <key>size</key>
            <string>{781,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d698d0e6dae958e556729f58d14f558:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car013.png</string>
        </dict>
    </dict>
</plist>
