<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car015-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,441},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{229,147}}</string>
                <key>offset</key>
                <string>{-39,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,68},{229,147}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{227,141}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,74},{227,141}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,141}}</string>
                <key>offset</key>
                <string>{-32,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,74},{241,141}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,145},{149,153}}</string>
                <key>offset</key>
                <string>{-77,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,62},{149,153}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{175,163}}</string>
                <key>offset</key>
                <string>{-81,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{175,163}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{155,145}}</string>
                <key>offset</key>
                <string>{-71,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,70},{155,145}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,417},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,365},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,282},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,244},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,296},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,391},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,123},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,123},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,417},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,270},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,149},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,149},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,417},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,296},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{157,119}}</string>
                <key>offset</key>
                <string>{-72,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,96},{157,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,441},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,441},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,441},{155,119}}</string>
                <key>offset</key>
                <string>{-70,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,96},{155,119}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{229,147}}</string>
                <key>offset</key>
                <string>{-39,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,68},{229,147}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{227,141}}</string>
                <key>offset</key>
                <string>{-38,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,74},{227,141}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,141}}</string>
                <key>offset</key>
                <string>{-32,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,74},{241,141}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,145},{149,153}}</string>
                <key>offset</key>
                <string>{-77,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,62},{149,153}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{175,163}}</string>
                <key>offset</key>
                <string>{-81,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{175,163}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
            <key>ame_car015-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{155,145}}</string>
                <key>offset</key>
                <string>{-71,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,70},{155,145}}</string>
                <key>sourceSize</key>
                <string>{337,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car015.png</string>
            <key>size</key>
            <string>{986,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6bab993a195cd63020bb93ecb265553:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car015.png</string>
        </dict>
    </dict>
</plist>
