<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car021-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{127,103}}</string>
                <key>offset</key>
                <string>{-50,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{127,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{141,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{141,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,208},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,756},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,743},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,208},{141,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{141,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,105},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,105},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,691},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,861},{177,103}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{177,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,861},{187,103}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{187,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,311},{125,117}}</string>
                <key>offset</key>
                <string>{-50,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{125,117}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,131},{129,107}}</string>
                <key>offset</key>
                <string>{-48,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{129,107}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,262},{137,103}}</string>
                <key>offset</key>
                <string>{-46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{137,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,414},{141,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{141,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,651},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,638},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{141,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{141,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{141,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,546},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,546},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{143,101}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{143,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,430},{143,101}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{143,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,533},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,401},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{143,101}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{143,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,311},{143,101}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{143,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{127,103}}</string>
                <key>offset</key>
                <string>{-50,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{127,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{141,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{141,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,208},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,756},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,743},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,208},{141,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{141,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,105},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,105},{139,101}}</string>
                <key>offset</key>
                <string>{-43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{139,101}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,691},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,861},{177,103}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{177,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,861},{187,103}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{187,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,311},{125,117}}</string>
                <key>offset</key>
                <string>{-50,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{125,117}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,131},{129,107}}</string>
                <key>offset</key>
                <string>{-48,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,26},{129,107}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,262},{137,103}}</string>
                <key>offset</key>
                <string>{-46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{137,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,414},{141,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{141,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
            <key>ame_car021-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,651},{143,103}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,30},{143,103}}</string>
                <key>sourceSize</key>
                <string>{231,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car021.png</string>
            <key>size</key>
            <string>{542,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:791e16ca15e39c7c269dc81fb6ac5dde:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car021.png</string>
        </dict>
    </dict>
</plist>
