<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car005-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,445},{157,136}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,80},{157,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,204},{223,168}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{223,168}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{201,138}}</string>
                <key>offset</key>
                <string>{-43,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,78},{201,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,564},{159,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,564},{159,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{227,176}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{227,176}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{235,200}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{235,200}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{243,194}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{243,194}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,194}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{243,194}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,583},{155,136}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,80},{155,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,712},{159,136}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{159,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{169,136}}</string>
                <key>offset</key>
                <string>{-25,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,80},{169,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{207,138}}</string>
                <key>offset</key>
                <string>{-44,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{207,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,583},{157,138}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{157,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,305},{161,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,78},{161,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{161,136}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,80},{161,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,424},{159,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,424},{159,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,704},{157,138}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{157,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,374},{159,138}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,572},{159,138}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,142},{163,138}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,78},{163,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{163,138}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{163,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,282},{163,140}}</string>
                <key>offset</key>
                <string>{-20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,76},{163,140}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,142},{163,140}}</string>
                <key>offset</key>
                <string>{-20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,76},{163,140}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,165},{161,138}}</string>
                <key>offset</key>
                <string>{-20,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,78},{161,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,712},{161,136}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{161,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,284},{161,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,78},{161,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,445},{157,136}}</string>
                <key>offset</key>
                <string>{-21,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,80},{157,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,204},{223,168}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{223,168}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{201,138}}</string>
                <key>offset</key>
                <string>{-43,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,78},{201,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,564},{159,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,564},{159,138}}</string>
                <key>offset</key>
                <string>{-22,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,78},{159,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{227,176}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{227,176}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{235,200}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{235,200}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{243,194}}</string>
                <key>offset</key>
                <string>{18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{243,194}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,194}}</string>
                <key>offset</key>
                <string>{20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{243,194}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,583},{155,136}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,80},{155,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,712},{159,136}}</string>
                <key>offset</key>
                <string>{-22,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,80},{159,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{169,136}}</string>
                <key>offset</key>
                <string>{-25,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,80},{169,136}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
            <key>ame_car005-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{207,138}}</string>
                <key>offset</key>
                <string>{-44,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,78},{207,138}}</string>
                <key>sourceSize</key>
                <string>{297,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car005.png</string>
            <key>size</key>
            <string>{996,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2799298d15efc7f04ce46cbc8cc28b64:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car005.png</string>
        </dict>
    </dict>
</plist>
