<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car011-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{197,131}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{197,131}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{155,95}}</string>
                <key>offset</key>
                <string>{-32,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,76},{155,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{165,95}}</string>
                <key>offset</key>
                <string>{-36,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,76},{165,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{199,137}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{199,137}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{207,159}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{207,159}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{217,151}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{217,151}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,153}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{219,153}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,141},{125,93}}</string>
                <key>offset</key>
                <string>{-35,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,78},{125,93}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,552},{131,95}}</string>
                <key>offset</key>
                <string>{-31,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,76},{131,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,782},{139,95}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{139,103}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{139,103}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,822},{139,95}}</string>
                <key>offset</key>
                <string>{-24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,685},{137,95}}</string>
                <key>offset</key>
                <string>{-24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{137,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,725},{139,95}}</string>
                <key>offset</key>
                <string>{-24,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,411},{139,97}}</string>
                <key>offset</key>
                <string>{-23,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,74},{139,97}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,628},{141,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{141,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,531},{141,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{141,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,268},{141,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,76},{141,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,434},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,335},{139,97}}</string>
                <key>offset</key>
                <string>{-23,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,74},{139,97}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,238},{141,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{141,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,141},{141,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{141,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{141,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,76},{141,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,782},{139,95}}</string>
                <key>offset</key>
                <string>{-25,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{139,103}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{139,103}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{155,95}}</string>
                <key>offset</key>
                <string>{-32,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,76},{155,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{165,95}}</string>
                <key>offset</key>
                <string>{-36,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,76},{165,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,879},{139,95}}</string>
                <key>offset</key>
                <string>{-23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,76},{139,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{197,131}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{197,131}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{199,137}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{199,137}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{207,159}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{207,159}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{217,151}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{217,151}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{219,153}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{219,153}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,141},{125,93}}</string>
                <key>offset</key>
                <string>{-35,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,78},{125,93}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
            <key>ame_car011-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,552},{131,95}}</string>
                <key>offset</key>
                <string>{-31,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,76},{131,95}}</string>
                <key>sourceSize</key>
                <string>{245,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car011.png</string>
            <key>size</key>
            <string>{461,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1759b8d0e6d384d09f3d383ce07edd2e:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car011.png</string>
        </dict>
    </dict>
</plist>
