<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car010-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{234,171}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,72},{234,171}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{186,107}}</string>
                <key>offset</key>
                <string>{-53,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,136},{186,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,187},{192,107}}</string>
                <key>offset</key>
                <string>{-56,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,136},{192,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{226,183}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,60},{226,183}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{234,213}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{234,213}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,209}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{244,209}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{244,207}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{244,207}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,442},{156,107}}</string>
                <key>offset</key>
                <string>{-39,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,393},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{156,111}}</string>
                <key>offset</key>
                <string>{-38,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,132},{156,111}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{178,107}}</string>
                <key>offset</key>
                <string>{-49,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,136},{178,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,331},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,284},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,222},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,160},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,175},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,476},{156,105}}</string>
                <key>offset</key>
                <string>{-38,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,138},{156,105}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,318},{156,105}}</string>
                <key>offset</key>
                <string>{-38,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,138},{156,105}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,514},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,111},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,405},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,502},{156,105}}</string>
                <key>offset</key>
                <string>{-38,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,138},{156,105}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,440},{156,105}}</string>
                <key>offset</key>
                <string>{-38,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,138},{156,105}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{156,111}}</string>
                <key>offset</key>
                <string>{-38,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,132},{156,111}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{178,107}}</string>
                <key>offset</key>
                <string>{-49,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,136},{178,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{186,107}}</string>
                <key>offset</key>
                <string>{-53,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,136},{186,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,187},{192,107}}</string>
                <key>offset</key>
                <string>{-56,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,136},{192,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,331},{156,109}}</string>
                <key>offset</key>
                <string>{-38,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,134},{156,109}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{234,171}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,72},{234,171}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{226,183}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,60},{226,183}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{234,213}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{234,213}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,209}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{244,209}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{244,207}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{244,207}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,442},{156,107}}</string>
                <key>offset</key>
                <string>{-39,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
            <key>ame_car010-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,393},{156,107}}</string>
                <key>offset</key>
                <string>{-38,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,136},{156,107}}</string>
                <key>sourceSize</key>
                <string>{310,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car010.png</string>
            <key>size</key>
            <string>{1023,637}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5efa8cb9a1f5b43673f65a373b9da76f:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car010.png</string>
        </dict>
    </dict>
</plist>
