<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_car007-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,199},{137,120}}</string>
                <key>offset</key>
                <string>{-19,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,132},{137,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{207,184}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,68},{207,184}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{195,120}}</string>
                <key>offset</key>
                <string>{-47,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,132},{195,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{207,196}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{207,196}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{215,224}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{215,224}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{215,224}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,28},{215,224}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,222}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,30},{221,222}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{223,220}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,32},{223,220}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,219},{137,128}}</string>
                <key>offset</key>
                <string>{-19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,124},{137,128}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,188},{163,118}}</string>
                <key>offset</key>
                <string>{-32,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,134},{163,118}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,200},{187,120}}</string>
                <key>offset</key>
                <string>{-44,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,132},{187,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,569},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,585},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,460},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,445},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,321},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,321},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,461},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,322},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,473},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,322},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,349},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,473},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,597},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,473},{137,122}}</string>
                <key>offset</key>
                <string>{-19,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,349},{137,122}}</string>
                <key>offset</key>
                <string>{-20,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,130},{137,122}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,199},{137,120}}</string>
                <key>offset</key>
                <string>{-19,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,132},{137,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,199},{137,120}}</string>
                <key>offset</key>
                <string>{-19,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,132},{137,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,188},{163,118}}</string>
                <key>offset</key>
                <string>{-32,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,134},{163,118}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,200},{187,120}}</string>
                <key>offset</key>
                <string>{-44,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,132},{187,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{195,120}}</string>
                <key>offset</key>
                <string>{-47,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,132},{195,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,199},{137,120}}</string>
                <key>offset</key>
                <string>{-19,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,132},{137,120}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{207,184}}</string>
                <key>offset</key>
                <string>{14,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,68},{207,184}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{207,196}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,56},{207,196}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{215,224}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{215,224}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2},{215,224}}</string>
                <key>offset</key>
                <string>{18,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,28},{215,224}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{221,222}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,30},{221,222}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{223,220}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,32},{223,220}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
            <key>ame_car007-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,219},{137,128}}</string>
                <key>offset</key>
                <string>{-19,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,124},{137,128}}</string>
                <key>sourceSize</key>
                <string>{289,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_car007.png</string>
            <key>size</key>
            <string>{1013,721}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a40b00c59251b049da34df1fd869463e:1/1$</string>
            <key>textureFileName</key>
            <string>ame_car007.png</string>
        </dict>
    </dict>
</plist>
