<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ame_npc003-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,674},{118,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,329},{122,109}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{122,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,787},{116,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,674},{116,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,900},{116,109}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{116,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,337},{118,109}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{118,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,337},{114,109}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{114,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{126,111}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{126,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{130,111}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{130,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{126,107}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{126,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{126,107}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{126,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,220},{126,107}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{126,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,107}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{220,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{144,107}}</string>
                <key>offset</key>
                <string>{-52,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{144,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{142,107}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{142,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{128,111}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{128,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,900},{116,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,561},{118,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,561},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,892},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,779},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,666},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,787},{116,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,553},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,448},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,448},{118,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,440},{118,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,117},{124,107}}</string>
                <key>offset</key>
                <string>{-50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{124,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,226},{124,109}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{124,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{124,113}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{124,113}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,111},{128,107}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{128,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{126,111}}</string>
                <key>offset</key>
                <string>{-45,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{126,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{128,113}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{128,113}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,674},{118,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{118,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,329},{122,109}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{122,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,787},{116,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,674},{116,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,900},{116,109}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,7},{116,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,337},{118,109}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{118,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,337},{114,109}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{114,109}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{126,111}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{126,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{130,111}}</string>
                <key>offset</key>
                <string>{-41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{130,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{126,107}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{126,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{126,107}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{126,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,220},{126,107}}</string>
                <key>offset</key>
                <string>{-32,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{126,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,107}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{220,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{144,107}}</string>
                <key>offset</key>
                <string>{-52,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{144,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{142,107}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{142,107}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{128,111}}</string>
                <key>offset</key>
                <string>{-38,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,5},{128,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
            <key>ame_npc003-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,900},{116,111}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,5},{116,111}}</string>
                <key>sourceSize</key>
                <string>{250,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ame_npc003.png</string>
            <key>size</key>
            <string>{494,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8474e061f63c6901ad8831decc725589:1/1$</string>
            <key>textureFileName</key>
            <string>ame_npc003.png</string>
        </dict>
    </dict>
</plist>
