<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_npc001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,105},{50,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,315},{56,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,107},{50,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{64,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{64,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{64,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,420},{56,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{50,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,315},{56,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{64,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{64,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{64,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{56,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,212},{50,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{50,101}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{60,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{60,101}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,107},{62,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{62,105}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,210},{50,101}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{50,101}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,214},{60,99}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{60,99}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>com_npc001-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,317},{50,103}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com_npc001.png</string>
            <key>size</key>
            <string>{236,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87a60bfb7774fbc140bcfae1df0a9a73:1/1$</string>
            <key>textureFileName</key>
            <string>com_npc001.png</string>
        </dict>
    </dict>
</plist>
