<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_npc002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,111},{66,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,329},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,220},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,74},{66,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{66,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,111},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,220},{70,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{70,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{70,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{72,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{72,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{72,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{72,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,111},{70,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,107},{70,105}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{70,105}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,329},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,329},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,220},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,220},{70,105}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{70,105}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{72,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{72,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{72,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{72,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,107}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{72,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{70,105}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{70,105}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,214},{68,105}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,105}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,329},{68,107}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{68,107}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,321},{72,99}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{72,99}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,247},{72,101}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{72,101}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,142},{72,103}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{72,103}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{74,103}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{74,103}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{80,97}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{80,97}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,321},{72,99}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{72,99}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,142},{72,103}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{72,103}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
            <key>com_npc002-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,327},{72,103}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{72,103}}</string>
                <key>sourceSize</key>
                <string>{106,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com_npc002.png</string>
            <key>size</key>
            <string>{508,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0684babb6dc259af61993d51a9301ef:1/1$</string>
            <key>textureFileName</key>
            <string>com_npc002.png</string>
        </dict>
    </dict>
</plist>
