<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com_arc001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,342},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,95},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,378},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,95},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,95},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,283},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,188},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,188},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{152,93}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,93}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
            <key>com_arc001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,91}}</string>
                <key>offset</key>
                <string>{-44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,91}}</string>
                <key>sourceSize</key>
                <string>{180,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>com_arc001.png</string>
            <key>size</key>
            <string>{405,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c823e5d53c83ea2fad1758c4d3a7b035:1/1$</string>
            <key>textureFileName</key>
            <string>com_arc001.png</string>
        </dict>
    </dict>
</plist>
