<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_npc005-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,378},{94,97}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,285},{94,95}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{144,91}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,95},{100,91}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{100,91}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,478},{98,95}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,283},{94,95}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,188},{94,95}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,378},{94,97}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{98,95}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{98,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,188},{106,93}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{106,93}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,95},{114,91}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,95},{114,91}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{114,91}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{94,97}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,381},{98,95}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{98,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,474},{100,95}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{100,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,476},{102,95}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{102,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,188},{102,93}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{102,93}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,379},{98,95}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{98,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,478},{96,95}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{96,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,573},{96,97}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{96,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,571},{96,97}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{96,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,283},{100,93}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{100,93}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{92,97}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{92,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,99}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{96,97}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{96,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,283},{104,93}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{104,93}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,575},{102,97}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{102,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,575},{96,99}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{96,99}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,378},{94,97}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,285},{94,95}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{114,91}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{144,91}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,95},{100,91}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{100,91}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{100,91}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{100,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,188},{100,93}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{100,93}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,478},{98,95}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{98,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,283},{94,95}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,188},{94,95}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{94,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,378},{94,97}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{94,97}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{94,97}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{98,95}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{98,95}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,188},{106,93}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{106,93}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,95},{114,91}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
            <key>gbr_npc005-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,95},{114,91}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{114,91}}</string>
                <key>sourceSize</key>
                <string>{156,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_npc005.png</string>
            <key>size</key>
            <string>{511,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f62d46721690061e847dde6782ea899a:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_npc005.png</string>
        </dict>
    </dict>
</plist>
