<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_npc003-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,218},{89,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,218},{89,107}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{117,105}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{117,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,109},{91,105}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{91,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{127,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{127,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{107,105}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{137,105}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,216},{111,105}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,105}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{111,105}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,109},{115,105}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,109},{107,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,307},{89,105}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{91,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{91,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,307},{89,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,218},{89,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,109},{91,105}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{91,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{93,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{93,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,109},{95,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{95,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{95,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{95,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,218},{89,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{89,107}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,216},{89,105}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,109},{89,105}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{89,105}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,323},{89,107}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,323},{89,107}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{89,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,216},{87,107}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{87,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,325},{85,105}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{85,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,216},{85,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{85,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,182},{85,109}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{85,109}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,325},{87,107}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{87,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,325},{87,105}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{87,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,93},{87,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{87,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,309},{87,109}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,109}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,218},{89,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,218},{89,107}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{89,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{95,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{95,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{117,105}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{117,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,109},{91,105}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{91,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{127,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{127,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{107,105}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{107,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{137,105}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,216},{111,105}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,105}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{137,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{111,105}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{111,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,109},{115,105}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,307},{89,105}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,109},{109,107}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,109},{107,107}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,107}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{91,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{91,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,307},{89,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,218},{89,105}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{89,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,109},{91,105}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{91,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{93,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{93,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,109},{95,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{95,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
            <key>gbr_npc003-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{95,105}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{95,105}}</string>
                <key>sourceSize</key>
                <string>{145,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_npc003.png</string>
            <key>size</key>
            <string>{979,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:026d2deab9ebe3af4171dd15f27c9542:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_npc003.png</string>
        </dict>
    </dict>
</plist>
