<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car009-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,109},{136,107}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{136,107}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{152,103}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,42},{152,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{164,105}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{164,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{176,105}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{176,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,143},{166,123}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{166,123}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{166,127}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{166,127}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{176,135}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{176,135}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,490},{136,103}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{136,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,461},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,354},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,109},{136,121}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{136,121}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,321},{136,103}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{136,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,446},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,461},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,218},{136,103}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{136,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,339},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,323},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,375},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,268},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,352},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,214},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,214},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,247},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,232},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,107},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,107},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,109},{136,107}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,38},{136,107}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,109},{136,121}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{136,121}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,321},{136,103}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,42},{136,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{158,103}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{158,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{164,105}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{164,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{170,105}}</string>
                <key>offset</key>
                <string>{-18,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,40},{170,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{176,105}}</string>
                <key>offset</key>
                <string>{-21,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{176,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,143},{166,123}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{166,123}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{166,127}}</string>
                <key>offset</key>
                <string>{15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,18},{166,127}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{170,139}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,6},{170,139}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{176,135}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{176,135}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,135}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{176,135}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,109},{136,103}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{136,103}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,405},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
            <key>gbr_car009-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,426},{136,105}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{136,105}}</string>
                <key>sourceSize</key>
                <string>{218,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car009.png</string>
            <key>size</key>
            <string>{1010,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc9943f395c107b2a70f3274012f25e:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car009.png</string>
        </dict>
    </dict>
</plist>
