<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car015-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,392},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,262},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,560},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,411},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,132},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,262},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,560},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,411},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,598},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,262},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,132},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,579},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,430},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,281},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,132},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,598},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,449},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,300},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,151},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,449},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,300},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,151},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,392},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,262},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,560},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,411},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,132},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,262},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,560},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,411},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,598},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,262},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,132},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,579},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,430},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,281},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,132},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{147,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,128}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
            <key>gbr_car015-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,598},{147,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car015.png</string>
            <key>size</key>
            <string>{967,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:974476d131b7114652f4864ea34965f6:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car015.png</string>
        </dict>
    </dict>
</plist>
