<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car013-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,330},{155,110}}</string>
                <key>offset</key>
                <string>{-71,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{155,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,328},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,110},{161,108}}</string>
                <key>offset</key>
                <string>{-68,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{161,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{163,106}}</string>
                <key>offset</key>
                <string>{-67,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{163,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,220},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,220},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,220},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{161,106}}</string>
                <key>offset</key>
                <string>{-68,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{161,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{163,106}}</string>
                <key>offset</key>
                <string>{-67,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{163,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,218},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,554},{229,128}}</string>
                <key>offset</key>
                <string>{-34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{229,128}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,554},{237,124}}</string>
                <key>offset</key>
                <string>{-30,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{237,124}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,554},{163,136}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{163,136}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,442},{157,124}}</string>
                <key>offset</key>
                <string>{-70,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{157,124}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,220},{159,108}}</string>
                <key>offset</key>
                <string>{-69,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{159,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,330},{163,110}}</string>
                <key>offset</key>
                <string>{-67,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{163,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,330},{163,110}}</string>
                <key>offset</key>
                <string>{-67,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{163,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,442},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,110},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,110},{165,106}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{165,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,442},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,110},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{165,106}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{165,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,442},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,442},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,110},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{165,106}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{165,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,330},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,106}}</string>
                <key>offset</key>
                <string>{-67,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{163,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{165,106}}</string>
                <key>offset</key>
                <string>{-66,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{165,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{165,110}}</string>
                <key>offset</key>
                <string>{-66,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{165,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,330},{155,110}}</string>
                <key>offset</key>
                <string>{-71,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{155,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,328},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,110},{161,108}}</string>
                <key>offset</key>
                <string>{-68,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{161,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{163,106}}</string>
                <key>offset</key>
                <string>{-67,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{163,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,220},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,220},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,220},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{161,106}}</string>
                <key>offset</key>
                <string>{-68,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{161,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{163,106}}</string>
                <key>offset</key>
                <string>{-67,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,76},{163,106}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,218},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,554},{229,128}}</string>
                <key>offset</key>
                <string>{-34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{229,128}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,554},{237,124}}</string>
                <key>offset</key>
                <string>{-30,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{237,124}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,554},{163,136}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{163,136}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,442},{157,124}}</string>
                <key>offset</key>
                <string>{-70,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,58},{157,124}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,220},{159,108}}</string>
                <key>offset</key>
                <string>{-69,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{159,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,330},{163,110}}</string>
                <key>offset</key>
                <string>{-67,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{163,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,330},{163,110}}</string>
                <key>offset</key>
                <string>{-67,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{163,110}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
            <key>gbr_car013-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{163,108}}</string>
                <key>offset</key>
                <string>{-67,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{163,108}}</string>
                <key>sourceSize</key>
                <string>{297,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car013.png</string>
            <key>size</key>
            <string>{994,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6548662eb14135665b5921a77d91f041:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car013.png</string>
        </dict>
    </dict>
</plist>
