<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_npc001-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{88,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,630},{88,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,82}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{130,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,624},{86,82}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{86,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,536},{86,84}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{86,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,716},{86,86}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,540},{88,84}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,450},{88,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{88,86}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{88,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,182},{88,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,92},{88,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{88,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,804},{88,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{88,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,360},{88,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,270},{88,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,894},{88,82}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,716},{88,82}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{88,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{88,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{88,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{88,86}}</string>
                <key>offset</key>
                <string>{-29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,806},{86,86}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,448},{86,84}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{86,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,360},{86,84}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{86,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{88,86}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{88,86}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{88,84}}</string>
                <key>offset</key>
                <string>{-28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{88,84}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{88,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,630},{88,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,804},{88,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,82}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{130,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,624},{86,82}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{86,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,536},{86,84}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{86,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,272},{86,84}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{86,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,716},{86,86}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,540},{88,84}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,450},{88,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,84}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{88,86}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{88,86}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{88,86}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{88,86}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,182},{88,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,92},{88,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
            <key>gbr_npc001-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{88,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{154,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_npc001.png</string>
            <key>size</key>
            <string>{264,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4b4fc262d0d2af26f2191070b621bef:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_npc001.png</string>
        </dict>
    </dict>
</plist>
