<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car011-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,305},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,406},{130,99}}</string>
                <key>offset</key>
                <string>{-50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{130,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,204},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,305},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,406},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,103},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,204},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,305},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,103},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{180,99}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{180,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,99}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{188,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,406},{128,109}}</string>
                <key>offset</key>
                <string>{-51,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,109}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,305},{134,99}}</string>
                <key>offset</key>
                <string>{-48,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{134,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,406},{140,99}}</string>
                <key>offset</key>
                <string>{-45,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{140,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,204},{148,99}}</string>
                <key>offset</key>
                <string>{-41,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{148,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,406},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,204},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,305},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,103},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,103},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{154,101}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{154,101}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,204},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{154,101}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{154,101}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,103},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,305},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,406},{130,99}}</string>
                <key>offset</key>
                <string>{-50,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{130,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,204},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,305},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,406},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,103},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,204},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,305},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,103},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{152,99}}</string>
                <key>offset</key>
                <string>{-39,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{152,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{180,99}}</string>
                <key>offset</key>
                <string>{-25,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{180,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,99}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{188,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,406},{128,109}}</string>
                <key>offset</key>
                <string>{-51,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{128,109}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,305},{134,99}}</string>
                <key>offset</key>
                <string>{-48,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{134,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,406},{140,99}}</string>
                <key>offset</key>
                <string>{-45,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{140,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,204},{148,99}}</string>
                <key>offset</key>
                <string>{-41,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{148,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
            <key>gbr_car011-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,406},{154,99}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,99}}</string>
                <key>sourceSize</key>
                <string>{230,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car011.png</string>
            <key>size</key>
            <string>{1000,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3589842bfe6442ea893f79a8c7890fca:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car011.png</string>
        </dict>
    </dict>
</plist>
