<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_npc002-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,820},{94,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,616},{96,100}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,206},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,320},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,214},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,902},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{106,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{106,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{106,100}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{106,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{108,100}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,100}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,412},{100,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,820},{96,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,718},{94,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,512},{94,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,718},{96,100}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{102,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,310},{100,100}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,208},{100,100}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,106},{100,100}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,514},{98,100}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,616},{96,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,922},{94,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,410},{96,100}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,630},{102,100}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,528},{102,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,426},{102,100}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{102,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,800},{104,100}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{112,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{112,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{104,100}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,820},{94,100}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,616},{96,100}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,308},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,206},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,320},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,214},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,902},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{106,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{106,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{104,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{106,100}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{106,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{108,100}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{108,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,100}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,100}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,412},{100,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,820},{96,100}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
            <key>gbr_npc002-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,718},{94,100}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{178,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_npc002.png</string>
            <key>size</key>
            <string>{410,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f78cd0d17cc41b0a7d0da6210737665:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_npc002.png</string>
        </dict>
    </dict>
</plist>
