<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car010-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,144},{134,104}}</string>
                <key>offset</key>
                <string>{-71,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{134,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{152,104}}</string>
                <key>offset</key>
                <string>{-62,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,638},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,766},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,614},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,108},{152,104}}</string>
                <key>offset</key>
                <string>{-62,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{152,104}}</string>
                <key>offset</key>
                <string>{-62,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,550},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,532},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{208,104}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{208,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,104}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{220,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{140,122}}</string>
                <key>offset</key>
                <string>{-68,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{140,122}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,108},{136,110}}</string>
                <key>offset</key>
                <string>{-70,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{136,110}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,250},{140,104}}</string>
                <key>offset</key>
                <string>{-68,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{140,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,508},{146,104}}</string>
                <key>offset</key>
                <string>{-65,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{146,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,766},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,398},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,320},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,918},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,356},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,766},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,918},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,246},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,214},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,766},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,144},{134,104}}</string>
                <key>offset</key>
                <string>{-71,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{134,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{152,104}}</string>
                <key>offset</key>
                <string>{-62,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,638},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,766},{150,102}}</string>
                <key>offset</key>
                <string>{-63,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,102}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,614},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,108},{152,104}}</string>
                <key>offset</key>
                <string>{-62,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{152,104}}</string>
                <key>offset</key>
                <string>{-62,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,550},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,532},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{208,104}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{208,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,104}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{220,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{140,122}}</string>
                <key>offset</key>
                <string>{-68,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{140,122}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,108},{136,110}}</string>
                <key>offset</key>
                <string>{-70,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{136,110}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,250},{140,104}}</string>
                <key>offset</key>
                <string>{-68,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{140,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,508},{146,104}}</string>
                <key>offset</key>
                <string>{-65,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{146,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
            <key>gbr_car010-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,426},{150,104}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{276,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car010.png</string>
            <key>size</key>
            <string>{560,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:254a86f29e5f7acaaba8374865c84903:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car010.png</string>
        </dict>
    </dict>
</plist>
