<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car008-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,488},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,714},{150,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{168,108}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{168,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,138},{180,110}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{180,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,112}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{190,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{174,122}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{174,122}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,138},{176,126}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{176,126}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{180,138}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{180,138}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{184,134}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{184,134}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,684},{150,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{150,120}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{150,120}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,532},{150,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,380},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,374},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,266},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,608},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,602},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,488},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,380},{150,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{150,120}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{150,120}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,714},{150,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{168,108}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{168,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,138},{180,110}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{180,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,112}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{190,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,250},{174,122}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{174,122}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,138},{176,126}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{176,126}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{180,138}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{180,138}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{184,134}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{184,134}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{186,134}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{186,134}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,684},{150,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,108}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{150,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{150,110}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
            <key>gbr_car008-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,494},{150,112}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{150,112}}</string>
                <key>sourceSize</key>
                <string>{226,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car008.png</string>
            <key>size</key>
            <string>{568,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0f6d1a0039d2165270317b7915e494b:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car008.png</string>
        </dict>
    </dict>
</plist>
