<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car012-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,846},{143,106}}</string>
                <key>offset</key>
                <string>{-62,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{143,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,632},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,534},{161,104}}</string>
                <key>offset</key>
                <string>{-52,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,526},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{161,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,56},{161,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,744},{161,100}}</string>
                <key>offset</key>
                <string>{-52,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,58},{161,100}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,428},{161,104}}</string>
                <key>offset</key>
                <string>{-52,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,477},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{199,108}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{199,108}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,106}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{209,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,840},{139,118}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{139,118}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,846},{147,106}}</string>
                <key>offset</key>
                <string>{-60,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{147,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{153,106}}</string>
                <key>offset</key>
                <string>{-56,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,52},{153,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,840},{159,106}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,52},{159,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,112},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,112},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,112},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,420},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,322},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,314},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,106},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,640},{161,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,56},{161,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,738},{161,100}}</string>
                <key>offset</key>
                <string>{-51,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,58},{161,100}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,216},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,314},{161,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,56},{161,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,640},{161,100}}</string>
                <key>offset</key>
                <string>{-51,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,58},{161,100}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,210},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,846},{143,106}}</string>
                <key>offset</key>
                <string>{-62,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{143,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,632},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,534},{161,104}}</string>
                <key>offset</key>
                <string>{-52,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,526},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{161,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,56},{161,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,744},{161,100}}</string>
                <key>offset</key>
                <string>{-52,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,58},{161,100}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,428},{161,104}}</string>
                <key>offset</key>
                <string>{-52,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,477},{161,104}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,54},{161,104}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{199,108}}</string>
                <key>offset</key>
                <string>{-34,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{199,108}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,106}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{209,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,840},{139,118}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{139,118}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,846},{147,106}}</string>
                <key>offset</key>
                <string>{-60,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{147,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{153,106}}</string>
                <key>offset</key>
                <string>{-56,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,52},{153,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,840},{159,106}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,52},{159,106}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,112},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
            <key>gbr_car012-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,112},{163,102}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{163,102}}</string>
                <key>sourceSize</key>
                <string>{267,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car012.png</string>
            <key>size</key>
            <string>{597,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b41c2f968d7c0622c19c50f5116c4aab:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car012.png</string>
        </dict>
    </dict>
</plist>
