<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car006-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,222},{162,116}}</string>
                <key>offset</key>
                <string>{-31,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,80},{162,116}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,222},{222,150}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,46},{222,150}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,220},{158,112}}</string>
                <key>offset</key>
                <string>{-40,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,84},{158,112}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,106}}</string>
                <key>offset</key>
                <string>{-47,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,90},{172,106}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{226,160}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{226,160}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,374},{236,182}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{236,182}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,340},{244,174}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{244,174}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,350},{246,176}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{246,176}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,112},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{150,110}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{150,110}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{150,110}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{150,110}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,222},{150,126}}</string>
                <key>offset</key>
                <string>{-36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,70},{150,126}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{150,110}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{150,110}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,112},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,110},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,110},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,110},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{150,106}}</string>
                <key>offset</key>
                <string>{-36,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,90},{150,106}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{150,106}}</string>
                <key>offset</key>
                <string>{-36,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,90},{150,106}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{150,106}}</string>
                <key>offset</key>
                <string>{-36,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,90},{150,106}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,222},{162,116}}</string>
                <key>offset</key>
                <string>{-31,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,80},{162,116}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,222},{222,150}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,46},{222,150}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,220},{158,112}}</string>
                <key>offset</key>
                <string>{-40,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,84},{158,112}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,106}}</string>
                <key>offset</key>
                <string>{-47,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,90},{172,106}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{226,160}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{226,160}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,374},{236,182}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{236,182}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,340},{244,174}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{244,174}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,350},{246,176}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{246,176}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,112},{150,108}}</string>
                <key>offset</key>
                <string>{-36,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,88},{150,108}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{150,110}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{150,110}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{150,110}}</string>
                <key>offset</key>
                <string>{-36,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{150,110}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
            <key>gbr_car006-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,222},{150,126}}</string>
                <key>offset</key>
                <string>{-36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,70},{150,126}}</string>
                <key>sourceSize</key>
                <string>{286,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car006.png</string>
            <key>size</key>
            <string>{1006,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c744b4679acc76f60708acb9d5ea66ef:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car006.png</string>
        </dict>
    </dict>
</plist>
