<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car014-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,440},{174,113}}</string>
                <key>offset</key>
                <string>{-83,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,80},{174,113}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{260,141}}</string>
                <key>offset</key>
                <string>{-39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,52},{260,141}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,111},{172,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{172,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,111},{170,107}}</string>
                <key>offset</key>
                <string>{-85,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,111},{170,107}}</string>
                <key>offset</key>
                <string>{-85,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,111},{170,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{172,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{172,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,329},{172,109}}</string>
                <key>offset</key>
                <string>{-83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{172,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,440},{262,133}}</string>
                <key>offset</key>
                <string>{-39,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{262,133}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,575},{276,143}}</string>
                <key>offset</key>
                <string>{-32,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,50},{276,143}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,440},{176,155}}</string>
                <key>offset</key>
                <string>{-83,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{176,155}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,522},{176,165}}</string>
                <key>offset</key>
                <string>{-83,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{176,165}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,597},{172,165}}</string>
                <key>offset</key>
                <string>{-83,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{172,165}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{168,149}}</string>
                <key>offset</key>
                <string>{-86,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,44},{168,149}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{174,113}}</string>
                <key>offset</key>
                <string>{-83,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,80},{174,113}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,329},{172,109}}</string>
                <key>offset</key>
                <string>{-83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{172,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{174,113}}</string>
                <key>offset</key>
                <string>{-83,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,80},{174,113}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,329},{172,109}}</string>
                <key>offset</key>
                <string>{-83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{172,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{172,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{172,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{170,107}}</string>
                <key>offset</key>
                <string>{-85,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{170,107}}</string>
                <key>offset</key>
                <string>{-85,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{170,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{172,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,172},{172,109}}</string>
                <key>offset</key>
                <string>{-83,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,84},{172,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,346},{174,113}}</string>
                <key>offset</key>
                <string>{-83,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,80},{174,113}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{174,107}}</string>
                <key>offset</key>
                <string>{-82,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,220},{174,107}}</string>
                <key>offset</key>
                <string>{-82,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,220},{174,107}}</string>
                <key>offset</key>
                <string>{-82,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,329},{176,109}}</string>
                <key>offset</key>
                <string>{-82,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,84},{176,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,220},{174,107}}</string>
                <key>offset</key>
                <string>{-82,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,220},{174,107}}</string>
                <key>offset</key>
                <string>{-82,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{174,107}}</string>
                <key>offset</key>
                <string>{-82,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{174,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,440},{174,113}}</string>
                <key>offset</key>
                <string>{-83,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,80},{174,113}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{260,141}}</string>
                <key>offset</key>
                <string>{-39,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,52},{260,141}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,111},{172,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{172,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,111},{170,107}}</string>
                <key>offset</key>
                <string>{-85,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,111},{170,107}}</string>
                <key>offset</key>
                <string>{-85,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,111},{170,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,86},{170,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{172,107}}</string>
                <key>offset</key>
                <string>{-84,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{172,107}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,329},{172,109}}</string>
                <key>offset</key>
                <string>{-83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{172,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,440},{262,133}}</string>
                <key>offset</key>
                <string>{-39,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,60},{262,133}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,575},{276,143}}</string>
                <key>offset</key>
                <string>{-32,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,50},{276,143}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,440},{176,155}}</string>
                <key>offset</key>
                <string>{-83,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{176,155}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,522},{176,165}}</string>
                <key>offset</key>
                <string>{-83,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{176,165}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,597},{172,165}}</string>
                <key>offset</key>
                <string>{-83,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{172,165}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{168,149}}</string>
                <key>offset</key>
                <string>{-86,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,44},{168,149}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{174,113}}</string>
                <key>offset</key>
                <string>{-83,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,80},{174,113}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
            <key>gbr_car014-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,329},{172,109}}</string>
                <key>offset</key>
                <string>{-83,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{172,109}}</string>
                <key>sourceSize</key>
                <string>{354,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car014.png</string>
            <key>size</key>
            <string>{1017,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6309462e7a4bc958c6205cd8e91c19bc:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car014.png</string>
        </dict>
    </dict>
</plist>
