<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gbr_car007-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,161},{165,115}}</string>
                <key>offset</key>
                <string>{-27,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,82},{165,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{221,149}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{221,149}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{169,111}}</string>
                <key>offset</key>
                <string>{-44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,86},{169,111}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,117},{181,113}}</string>
                <key>offset</key>
                <string>{-50,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{181,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{189,113}}</string>
                <key>offset</key>
                <string>{-54,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{189,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{227,157}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{227,157}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{237,181}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{237,181}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,175}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{249,175}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{247,175}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{247,175}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,460},{151,113}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,393},{151,115}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{151,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,393},{151,115}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{151,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,173},{151,119}}</string>
                <key>offset</key>
                <string>{-35,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,78},{151,119}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,161},{151,115}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{151,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,460},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,460},{151,111}}</string>
                <key>offset</key>
                <string>{-35,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,86},{151,111}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,345},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,345},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,306},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,393},{151,115}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{151,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,153},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,232},{151,111}}</string>
                <key>offset</key>
                <string>{-35,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,86},{151,111}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,278},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,278},{151,113}}</string>
                <key>offset</key>
                <string>{-35,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,161},{165,115}}</string>
                <key>offset</key>
                <string>{-27,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,82},{165,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{221,149}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{221,149}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{169,111}}</string>
                <key>offset</key>
                <string>{-44,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,86},{169,111}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,117},{181,113}}</string>
                <key>offset</key>
                <string>{-50,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,84},{181,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{189,113}}</string>
                <key>offset</key>
                <string>{-54,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,84},{189,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{227,157}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,40},{227,157}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{237,181}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,16},{237,181}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,175}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{249,175}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{247,175}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{247,175}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,460},{151,113}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,84},{151,113}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,393},{151,115}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{151,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,393},{151,115}}</string>
                <key>offset</key>
                <string>{-35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,82},{151,115}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
            <key>gbr_car007-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,173},{151,119}}</string>
                <key>offset</key>
                <string>{-35,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,78},{151,119}}</string>
                <key>sourceSize</key>
                <string>{297,199}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gbr_car007.png</string>
            <key>size</key>
            <string>{1009,583}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e358c80c662b9756879a01220d6873:1/1$</string>
            <key>textureFileName</key>
            <string>gbr_car007.png</string>
        </dict>
    </dict>
</plist>
