<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_arc001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,922},{532,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,461}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,461},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,461},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,455}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{532,455}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,461},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,461},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,461},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2672,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{532,455}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{532,455}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2138,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{532,457}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{532,457}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,461},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
            <key>ger_arc001-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{532,459}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{532,459}}</string>
                <key>sourceSize</key>
                <string>{532,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_arc001.png</string>
            <key>size</key>
            <string>{3740,1385}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44bcd121c3d959a486d9afc26f6169c5:1/1$</string>
            <key>textureFileName</key>
            <string>ger_arc001.png</string>
        </dict>
    </dict>
</plist>
