<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_npc007-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,90},{70,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{76,86}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{64,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,130},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,66},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,90},{64,86}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,188},{64,86}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{68,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,100},{76,86}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,100},{76,86}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,86}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{70,86}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{72,86}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,90},{72,86}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,90},{68,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{66,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{70,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,178},{68,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{68,88}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{68,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,90},{68,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,90},{66,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,90},{68,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{68,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{68,88}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,178},{68,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,178},{72,78}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{72,78}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,178},{70,82}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{68,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,178},{66,78}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{66,78}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,178},{68,82}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,82}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,90},{70,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,90},{70,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{76,86}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{64,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,130},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,66},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{62,84}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,90},{64,86}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,188},{64,86}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{68,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,100},{76,86}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,100},{76,86}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,86}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{96,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,178},{70,86}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{72,86}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,90},{72,86}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,90},{68,86}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{68,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
            <key>ger_npc007-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{66,86}}</string>
                <key>offset</key>
                <string>{-21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{66,86}}</string>
                <key>sourceSize</key>
                <string>{110,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_npc007.png</string>
            <key>size</key>
            <string>{744,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:205aea984ab2cba483e65e107f09f117:1/1$</string>
            <key>textureFileName</key>
            <string>ger_npc007.png</string>
        </dict>
    </dict>
</plist>
