<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_npc006-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,85},{46,81}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,87},{56,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,87},{66,81}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{66,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,87},{52,81}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,87},{58,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{48,81}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{54,79}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{54,79}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,87},{50,81}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{46,81}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{48,83}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,85},{46,81}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,85},{46,81}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,87},{64,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,87},{48,81}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,87},{70,81}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,87},{56,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,87},{48,81}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{72,81}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{72,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{48,83}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{48,83}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,87},{54,81}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{54,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,85},{42,81}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{42,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{44,81}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{44,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{50,83}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,87},{48,81}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,83},{46,79}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{46,79}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,83}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,83}}</string>
                <key>offset</key>
                <string>{-14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{48,83}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,85},{46,81}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,87},{56,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,87},{66,81}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{66,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,87},{52,81}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,87},{58,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{48,81}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{54,79}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{54,79}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,87},{50,81}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{50,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{46,81}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{48,83}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,83}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,85},{46,81}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,85},{46,81}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{46,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,87},{64,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,87},{48,81}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,87},{70,81}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,87},{56,81}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,87},{48,81}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
            <key>ger_npc006-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{72,81}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{72,81}}</string>
                <key>sourceSize</key>
                <string>{88,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_npc006.png</string>
            <key>size</key>
            <string>{964,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39308b62c4bcf95b954bc0818c68bed5:1/1$</string>
            <key>textureFileName</key>
            <string>ger_npc006.png</string>
        </dict>
    </dict>
</plist>
