<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_car017-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,674},{128,96}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{192,122}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{192,122}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{194,118}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,58},{194,118}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,116}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{208,116}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,126},{156,124}}</string>
                <key>offset</key>
                <string>{-60,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,52},{156,124}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{162,130}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{162,130}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{124,130}}</string>
                <key>offset</key>
                <string>{-49,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{124,130}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,258},{126,118}}</string>
                <key>offset</key>
                <string>{-47,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,58},{126,118}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,676},{128,96}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{128,98}}</string>
                <key>offset</key>
                <string>{-46,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,78},{128,98}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,648},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,578},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{128,96}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,378},{128,98}}</string>
                <key>offset</key>
                <string>{-46,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,78},{128,98}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,576},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,518},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,480},{128,96}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{128,98}}</string>
                <key>offset</key>
                <string>{-46,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,78},{128,98}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,478},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,388},{128,96}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,258},{128,98}}</string>
                <key>offset</key>
                <string>{-46,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,78},{128,98}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,382},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,284},{128,96}}</string>
                <key>offset</key>
                <string>{-46,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,674},{128,96}}</string>
                <key>offset</key>
                <string>{-45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,80},{128,96}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{192,122}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,54},{192,122}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{194,118}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,58},{194,118}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,116}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,60},{208,116}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,126},{156,124}}</string>
                <key>offset</key>
                <string>{-60,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,52},{156,124}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,126},{162,130}}</string>
                <key>offset</key>
                <string>{-67,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,46},{162,130}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{124,130}}</string>
                <key>offset</key>
                <string>{-49,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,46},{124,130}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
            <key>ger_car017-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,258},{126,118}}</string>
                <key>offset</key>
                <string>{-47,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,58},{126,118}}</string>
                <key>sourceSize</key>
                <string>{302,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_car017.png</string>
            <key>size</key>
            <string>{492,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db7b660c715b5bda225b3c6de7db1d9:1/1$</string>
            <key>textureFileName</key>
            <string>ger_car017.png</string>
        </dict>
    </dict>
</plist>
