<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_npc004-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,154},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{72,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,86},{72,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{80,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,170},{70,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{66,84}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{66,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,70},{62,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,72},{62,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,154},{64,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,154},{64,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,68},{64,84}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,68},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,86},{74,82}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{74,82}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{110,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,86},{74,82}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{110,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{110,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{80,82}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{110,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,86},{80,82}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,154},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,68},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,68},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,156},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,170},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,156},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,70},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,170},{70,84}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,86},{70,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,170},{70,84}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{70,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,170},{70,86}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{68,84}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{68,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,86},{68,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{68,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,170},{70,86}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{70,86}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{70,86}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,154},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{72,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,86},{72,82}}</string>
                <key>offset</key>
                <string>{-25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{72,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{80,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{80,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,170},{70,82}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{70,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{66,84}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{66,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,70},{62,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,72},{62,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{62,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,154},{64,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,154},{64,84}}</string>
                <key>offset</key>
                <string>{-29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,68},{64,84}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,68},{64,84}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{64,84}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,86},{74,82}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{74,82}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{110,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,86},{74,82}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{110,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{110,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{80,82}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,82}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{110,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>ger_npc004-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,86},{80,82}}</string>
                <key>offset</key>
                <string>{-28,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_npc004.png</string>
            <key>size</key>
            <string>{1022,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a366287457be677b17f6d877ed8c0f69:1/1$</string>
            <key>textureFileName</key>
            <string>ger_npc004.png</string>
        </dict>
    </dict>
</plist>
