<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_car001-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,571},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,556},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,556},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,125},{121,108}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,110},{121,108}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,110},{121,108}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{121,108}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,459},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,444},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,444},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,444},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,459},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,459},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,347},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,332},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,332},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,235},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,220},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,220},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,571},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,556},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,556},{121,110}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,125},{121,108}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,110},{121,108}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,110},{121,108}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,106}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{131,106}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{121,108}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{121,108}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
            <key>ger_car001-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{121,110}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,110}}</string>
                <key>sourceSize</key>
                <string>{147,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_car001.png</string>
            <key>size</key>
            <string>{511,683}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb01adb0731ca5ab356f6275e88d6a62:1/1$</string>
            <key>textureFileName</key>
            <string>ger_car001.png</string>
        </dict>
    </dict>
</plist>
