<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_car004-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,456},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{213,136}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{213,136}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{215,146}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,40},{215,146}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{225,170}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{225,170}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{235,162}}</string>
                <key>offset</key>
                <string>{34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{235,162}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,164}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,22},{237,164}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{141,102}}</string>
                <key>offset</key>
                <string>{-24,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,84},{141,102}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{171,100}}</string>
                <key>offset</key>
                <string>{-39,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,86},{171,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{203,100}}</string>
                <key>offset</key>
                <string>{-54,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{203,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,354},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,354},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,252},{131,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,762},{129,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,252},{131,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,354},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,150},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,864},{129,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,864},{129,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,762},{129,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,660},{129,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,660},{129,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,558},{129,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,558},{129,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,456},{129,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,150},{129,100}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{129,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,456},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{213,136}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,50},{213,136}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{215,146}}</string>
                <key>offset</key>
                <string>{23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,40},{215,146}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{225,170}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,16},{225,170}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{235,162}}</string>
                <key>offset</key>
                <string>{34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{235,162}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,164}}</string>
                <key>offset</key>
                <string>{35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,22},{237,164}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{141,102}}</string>
                <key>offset</key>
                <string>{-24,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,84},{141,102}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{171,100}}</string>
                <key>offset</key>
                <string>{-39,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,86},{171,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{203,100}}</string>
                <key>offset</key>
                <string>{-54,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{203,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
            <key>ger_car004-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,354},{131,100}}</string>
                <key>offset</key>
                <string>{-19,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,86},{131,100}}</string>
                <key>sourceSize</key>
                <string>{311,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_car004.png</string>
            <key>size</key>
            <string>{505,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7352e097dce80d15104274415d8adf02:1/1$</string>
            <key>textureFileName</key>
            <string>ger_car004.png</string>
        </dict>
    </dict>
</plist>
