<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_car005-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,894},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{208,150}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{208,150}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{208,158}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,51},{208,158}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{218,186}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{218,186}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{228,182}}</string>
                <key>offset</key>
                <string>{33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{228,182}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,182}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{230,182}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,258},{134,114}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,95},{134,114}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,162},{176,94}}</string>
                <key>offset</key>
                <string>{-47,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,115},{176,94}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{192,96}}</string>
                <key>offset</key>
                <string>{-55,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,113},{192,96}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{204,98}}</string>
                <key>offset</key>
                <string>{-60,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{204,98}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,894},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,894},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,258},{124,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,109},{124,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,894},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,894},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,792},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,782},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,690},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,680},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,588},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,578},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,486},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,476},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,384},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,374},{122,100}}</string>
                <key>offset</key>
                <string>{-19,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,894},{122,100}}</string>
                <key>offset</key>
                <string>{-20,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,109},{122,100}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{208,150}}</string>
                <key>offset</key>
                <string>{25,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,59},{208,150}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{208,158}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,51},{208,158}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{218,186}}</string>
                <key>offset</key>
                <string>{28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,23},{218,186}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{228,182}}</string>
                <key>offset</key>
                <string>{33,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{228,182}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,182}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,27},{230,182}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,258},{134,114}}</string>
                <key>offset</key>
                <string>{-26,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,95},{134,114}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,162},{176,94}}</string>
                <key>offset</key>
                <string>{-47,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,115},{176,94}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{192,96}}</string>
                <key>offset</key>
                <string>{-55,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,113},{192,96}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
            <key>ger_car005-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{204,98}}</string>
                <key>offset</key>
                <string>{-60,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{204,98}}</string>
                <key>sourceSize</key>
                <string>{324,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_car005.png</string>
            <key>size</key>
            <string>{470,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329d6f973db18a3199b8f6134a5fd3e8:1/1$</string>
            <key>textureFileName</key>
            <string>ger_car005.png</string>
        </dict>
    </dict>
</plist>
