<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_npc003-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,86},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{97,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{97,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,82}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{91,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,275},{93,84}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,625},{103,86}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{103,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,537},{105,86}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{105,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,449},{103,86}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{103,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,889},{95,86}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{91,86}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{101,82}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{101,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{101,82}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{101,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,174},{103,82}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{103,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{159,82}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{159,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{101,82}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{101,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,174},{99,82}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{99,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,258},{93,84}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,86},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,86},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,801},{91,86}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{91,86}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,713},{91,86}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,608},{89,86}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{89,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{87,86}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{87,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,520},{89,86}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{89,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{91,86}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,432},{91,86}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{91,86}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,88},{93,84}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,801},{95,86}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,889},{93,86}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{95,84}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{95,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,344},{95,86}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,361},{91,86}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,86},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{97,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{97,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,82}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{91,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,275},{93,84}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,625},{103,86}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{103,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,537},{105,86}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{105,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,449},{103,86}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{103,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,889},{95,86}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{91,86}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{91,86}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{101,82}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{101,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{101,82}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{101,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,174},{103,82}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{103,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{159,82}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{159,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{101,82}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{101,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,174},{99,82}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{99,82}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,258},{93,84}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
            <key>ger_npc003-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,86},{91,84}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{91,84}}</string>
                <key>sourceSize</key>
                <string>{183,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_npc003.png</string>
            <key>size</key>
            <string>{294,977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efc72eaf2d6e1ed0a1df804d4352f69a:1/1$</string>
            <key>textureFileName</key>
            <string>ger_npc003.png</string>
        </dict>
    </dict>
</plist>
