<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_npc002-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,101},{90,109}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{90,109}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,101},{70,125}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{70,125}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,200},{120,97}}</string>
                <key>offset</key>
                <string>{-38,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{120,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,97}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{178,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{122,97}}</string>
                <key>offset</key>
                <string>{-41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{122,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{172,97}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{172,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{130,97}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{130,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{140,97}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{140,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,101},{130,95}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{130,95}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,92},{72,123}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{72,123}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,198},{100,95}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{100,95}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{102,97}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{102,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,200},{96,97}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{96,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{156,97}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{156,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,299},{96,97}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{96,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,101},{154,97}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{154,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,299},{106,97}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{106,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{170,97}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{170,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,304},{88,109}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{88,109}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,388},{86,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{86,111}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,300},{86,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{86,111}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,398},{86,111}}</string>
                <key>offset</key>
                <string>{-33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{86,111}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,101},{86,113}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{86,113}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,398},{88,111}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{88,111}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,398},{88,111}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{88,111}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{88,111}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{88,111}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,193},{88,109}}</string>
                <key>offset</key>
                <string>{-35,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{88,109}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{88,109}}</string>
                <key>offset</key>
                <string>{-34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{88,109}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,414},{90,93}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{90,93}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,322},{90,93}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{90,93}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,394},{92,97}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{92,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,228},{92,95}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{92,95}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,414},{92,93}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{92,93}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,290},{92,93}}</string>
                <key>offset</key>
                <string>{-24,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{92,93}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,394},{92,97}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{92,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,193},{92,95}}</string>
                <key>offset</key>
                <string>{-28,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{92,95}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,101},{90,109}}</string>
                <key>offset</key>
                <string>{-36,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,18},{90,109}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,101},{70,125}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,2},{70,125}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,200},{120,97}}</string>
                <key>offset</key>
                <string>{-38,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{120,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,97}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{178,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{122,97}}</string>
                <key>offset</key>
                <string>{-41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{122,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{172,97}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{172,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{130,97}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,30},{130,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{140,97}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{140,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,101},{130,95}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{130,95}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,92},{72,123}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{72,123}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,198},{100,95}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,32},{100,95}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{102,97}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{102,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,200},{96,97}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{96,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{156,97}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{156,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,299},{96,97}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{96,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,101},{154,97}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{154,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,299},{106,97}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{106,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
            <key>ger_npc002-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{170,97}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{170,97}}</string>
                <key>sourceSize</key>
                <string>{212,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_npc002.png</string>
            <key>size</key>
            <string>{836,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a293d142aaa0496d294243eb5dfd5d1:1/1$</string>
            <key>textureFileName</key>
            <string>ger_npc002.png</string>
        </dict>
    </dict>
</plist>
