<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_arc002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{193,183}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,183}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{197,181}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,181}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{193,181}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{193,181}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,185},{195,183}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,183}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,185},{189,183}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,183}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{257,181}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{257,181}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{257,179}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,185},{189,183}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,183}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{257,181}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{257,181}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
            <key>ger_arc002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{257,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{257,179}}</string>
                <key>sourceSize</key>
                <string>{259,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_arc002.png</string>
            <key>size</key>
            <string>{914,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8214f6e07146690faf09ec9566f68bf9:1/1$</string>
            <key>textureFileName</key>
            <string>ger_arc002.png</string>
        </dict>
    </dict>
</plist>
