<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ger_car006-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,732},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,362},{197,156}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,62},{197,156}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,194},{193,166}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{193,166}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{203,196}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{203,196}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,190}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{213,190}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,190}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{213,190}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,317},{121,100}}</string>
                <key>offset</key>
                <string>{-31,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,118},{121,100}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{141,102}}</string>
                <key>offset</key>
                <string>{-41,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,116},{141,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{155,102}}</string>
                <key>offset</key>
                <string>{-48,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,116},{155,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,440},{167,104}}</string>
                <key>offset</key>
                <string>{-54,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{167,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,773},{121,104}}</string>
                <key>offset</key>
                <string>{-32,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,838},{121,102}}</string>
                <key>offset</key>
                <string>{-32,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,116},{121,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{121,102}}</string>
                <key>offset</key>
                <string>{-32,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,116},{121,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,715},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{121,104}}</string>
                <key>offset</key>
                <string>{-33,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,667},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,609},{121,104}}</string>
                <key>offset</key>
                <string>{-33,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,609},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,194},{121,100}}</string>
                <key>offset</key>
                <string>{-33,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,118},{121,100}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,879},{121,102}}</string>
                <key>offset</key>
                <string>{-31,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,116},{121,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,821},{121,102}}</string>
                <key>offset</key>
                <string>{-33,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,116},{121,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,561},{121,104}}</string>
                <key>offset</key>
                <string>{-33,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,732},{121,104}}</string>
                <key>offset</key>
                <string>{-31,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,114},{121,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,362},{197,156}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,62},{197,156}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,194},{193,166}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,52},{193,166}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{203,196}}</string>
                <key>offset</key>
                <string>{9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,22},{203,196}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{213,190}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{213,190}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,190}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{213,190}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,317},{121,100}}</string>
                <key>offset</key>
                <string>{-31,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,118},{121,100}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{141,102}}</string>
                <key>offset</key>
                <string>{-41,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,116},{141,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{155,102}}</string>
                <key>offset</key>
                <string>{-48,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,116},{155,102}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
            <key>ger_car006-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,440},{167,104}}</string>
                <key>offset</key>
                <string>{-54,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,114},{167,104}}</string>
                <key>sourceSize</key>
                <string>{275,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ger_car006.png</string>
            <key>size</key>
            <string>{504,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:037f6c495546014119347828a7721497:1/1$</string>
            <key>textureFileName</key>
            <string>ger_car006.png</string>
        </dict>
    </dict>
</plist>
