<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiqiang_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,60}</string>
                <key>spriteSourceSize</key>
                <string>{79,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiqiang_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,1}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{79,60}</string>
                <key>textureRect</key>
                <string>{{217,1},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiqiang_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,60}</string>
                <key>spriteSourceSize</key>
                <string>{79,60}</string>
                <key>textureRect</key>
                <string>{{82,1},{79,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiqiang_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{59,52}</string>
                <key>spriteSourceSize</key>
                <string>{79,60}</string>
                <key>textureRect</key>
                <string>{{163,1},{59,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiqiang.png</string>
            <key>size</key>
            <string>{281,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d018119052cf50eae97e75ec50c38f3c:a307619c290a7d51797671a5231d0178:bc40fe9ea4b1889b5acc6f28ce33269b$</string>
            <key>textureFileName</key>
            <string>jiqiang.png</string>
        </dict>
    </dict>
</plist>
