<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jpn_npc003-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,340},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,176},{76,83}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{126,103}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,103}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,115}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{122,115}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{100,105}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{100,105}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,262},{76,81}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{76,81}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,340},{76,83}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,177},{74,85}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,34},{74,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,254},{78,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{78,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,184},{76,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{76,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,425},{78,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{78,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,425},{78,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{78,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{124,95}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{124,95}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{114,89}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{114,89}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{118,99}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,99}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,262},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,184},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,89},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,262},{76,83}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,340},{76,83}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,340},{76,83}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,427},{76,83}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,99},{76,83}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,89},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,93},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,425},{78,83}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{78,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,340},{78,85}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{78,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,253},{78,85}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{78,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{78,85}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{78,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,425},{78,83}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,36},{78,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,427},{76,85}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,99},{76,85}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{78,85}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{78,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,340},{76,85}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,34},{76,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,176},{76,83}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{126,103}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{126,103}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,115}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{122,115}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{100,105}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{100,105}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,262},{76,81}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,38},{76,81}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,340},{76,83}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,36},{76,83}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,177},{74,85}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,34},{74,85}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,254},{78,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{78,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,184},{76,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{76,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,425},{78,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{78,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,425},{78,77}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{78,77}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{124,95}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{124,95}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{114,89}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{114,89}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
            <key>jpn_npc003-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{118,99}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{118,99}}</string>
                <key>sourceSize</key>
                <string>{146,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpn_npc003.png</string>
            <key>size</key>
            <string>{528,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:149b1ccd178333400707b1a911431344:1/1$</string>
            <key>textureFileName</key>
            <string>jpn_npc003.png</string>
        </dict>
    </dict>
</plist>
