<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jpn_npc001-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,234},{82,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{82,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,308},{82,70}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{82,70}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{84,72}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{82,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{82,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{80,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{80,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,82},{78,74}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{78,74}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,714},{76,76}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{82,70}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{82,70}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,72}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{108,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,792},{72,72}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{72,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{76,74}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{76,74}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,380},{80,72}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{80,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{80,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{80,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,82},{84,72}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{84,72}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{76,78}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{76,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,532},{76,78}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{76,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,322},{78,78}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{78,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,480},{76,78}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{76,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{76,76}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,688},{76,76}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,636},{76,76}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{76,78}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{76,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,454},{76,78}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{76,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,162},{76,78}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{76,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{76,76}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,610},{76,76}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,766},{74,76}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{74,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,242},{78,78}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{78,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,558},{76,76}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,402},{78,76}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{78,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,156},{82,76}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{82,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{84,78}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{84,78}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,234},{82,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{82,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,308},{82,70}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{82,70}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{84,72}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{82,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{82,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{80,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{80,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,82},{78,74}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,17},{78,74}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,714},{76,76}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{76,76}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{82,70}}</string>
                <key>offset</key>
                <string>{-25,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{82,70}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,72}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{108,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,792},{72,72}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{72,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{76,74}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{76,74}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,380},{80,72}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{80,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{80,72}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{80,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,82},{84,72}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
            <key>jpn_npc001-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{84,72}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{84,72}}</string>
                <key>sourceSize</key>
                <string>{134,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpn_npc001.png</string>
            <key>size</key>
            <string>{250,906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3876cb76bec0de8708c3447452f9fd0:1/1$</string>
            <key>textureFileName</key>
            <string>jpn_npc001.png</string>
        </dict>
    </dict>
</plist>
