<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jpn_npc004-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,83},{75,79}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{75,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,95},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,95},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{89,71}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{89,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{83,75}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{83,75}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,83},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,170},{73,81}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,87},{77,81}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{75,81}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,188},{73,81}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,188},{87,73}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{87,73}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,182},{77,79}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{77,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,95},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{129,71}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{129,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,71}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{129,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,85},{81,71}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{81,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,93},{87,71}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{87,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,164},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,83},{71,79}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,164},{71,79}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,144},{73,77}}</string>
                <key>offset</key>
                <string>{-34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{73,77}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,164},{73,79}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{73,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{73,79}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{73,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,83},{73,79}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{73,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,83},{71,79}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,164},{73,79}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{73,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,168},{75,79}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{75,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,164},{67,79}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{67,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,85},{67,81}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{73,79}}</string>
                <key>offset</key>
                <string>{-37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{73,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{75,79}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{75,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,75},{67,79}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{67,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,168},{69,81}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{69,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,83},{75,79}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{75,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,95},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,95},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{89,71}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{89,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{83,75}}</string>
                <key>offset</key>
                <string>{-27,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{83,75}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,83},{71,79}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{71,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,170},{73,81}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,87},{77,81}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{75,81}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,188},{73,81}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{73,81}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,188},{87,73}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{87,73}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,182},{77,79}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{77,79}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,95},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{129,71}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{129,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,71}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{129,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,85},{81,71}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{81,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,93},{87,71}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{87,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
            <key>jpn_npc004-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{91,71}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{91,71}}</string>
                <key>sourceSize</key>
                <string>{155,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpn_npc004.png</string>
            <key>size</key>
            <string>{989,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb99e6a14aa4e21e9e9f57ffe4a3b7a:1/1$</string>
            <key>textureFileName</key>
            <string>jpn_npc004.png</string>
        </dict>
    </dict>
</plist>
