<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jpn_car009-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,112}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,38},{147,112}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{157,114}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{157,114}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{167,116}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{167,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{175,116}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{175,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,238},{175,118}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{175,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,418},{173,128}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{173,128}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{175,132}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{175,132}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,478},{179,144}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{179,144}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,476},{183,140}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{183,140}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,478},{185,140}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{185,140}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,120},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,356},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,387},{147,134}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{147,134}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,356},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,120},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,120},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,120},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,269},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,238},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,238},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,118},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,118},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,236},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,236},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,358},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,387},{147,134}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{147,134}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,112}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,38},{147,112}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{157,114}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{157,114}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{167,116}}</string>
                <key>offset</key>
                <string>{-15,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{167,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{175,116}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{175,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,238},{175,118}}</string>
                <key>offset</key>
                <string>{-19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{175,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,418},{173,128}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{173,128}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{175,132}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{175,132}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,478},{179,144}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{179,144}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,476},{183,140}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{183,140}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,478},{185,140}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{185,140}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,120},{147,116}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{147,116}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,356},{147,118}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{147,118}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
            <key>jpn_car009-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{147,114}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{147,114}}</string>
                <key>sourceSize</key>
                <string>{213,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jpn_car009.png</string>
            <key>size</key>
            <string>{1015,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7618f5cf45c7aca0f94f91fd9b071b11:1/1$</string>
            <key>textureFileName</key>
            <string>jpn_car009.png</string>
        </dict>
    </dict>
</plist>
