<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lta_npc004-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,156},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,164},{71,75}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{65,73}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{65,75}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{67,75}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,85},{77,77}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{77,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{81,77}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{81,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{83,77}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{83,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,164},{75,73}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,164},{75,73}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,77}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{119,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,77},{65,73}}</string>
                <key>offset</key>
                <string>{-32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{65,73}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,156},{67,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,79},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,156},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,79},{67,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,2},{67,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,79},{67,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{67,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{67,73}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{67,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,154},{65,73}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,79},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,156},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,79},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,152},{71,71}}</string>
                <key>offset</key>
                <string>{-33,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{71,71}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{63,71}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{63,71}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,77},{61,73}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{61,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{59,73}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{59,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,67},{57,71}}</string>
                <key>offset</key>
                <string>{-38,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{57,71}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,67},{59,71}}</string>
                <key>offset</key>
                <string>{-36,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{59,71}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,152},{61,73}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{61,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,79},{67,73}}</string>
                <key>offset</key>
                <string>{-34,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{67,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,156},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,164},{71,75}}</string>
                <key>offset</key>
                <string>{-27,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{65,73}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{65,75}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{67,75}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,85},{77,77}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{77,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{81,77}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{81,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{83,77}}</string>
                <key>offset</key>
                <string>{-38,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{83,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,164},{75,73}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,164},{75,73}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{75,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,77}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,22},{119,77}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,77},{65,73}}</string>
                <key>offset</key>
                <string>{-32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,154},{65,73}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{65,73}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,156},{67,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,79},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
            <key>lta_npc004-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,156},{65,75}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lta_npc004.png</string>
            <key>size</key>
            <string>{818,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:800057e308f9421f106a8549cbe94a2e:1/1$</string>
            <key>textureFileName</key>
            <string>lta_npc004.png</string>
        </dict>
    </dict>
</plist>
