<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lta_npc006-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,75},{67,77}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{67,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,162},{71,75}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,144},{67,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,73},{69,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{71,77}}</string>
                <key>offset</key>
                <string>{-36,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{71,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{71,77}}</string>
                <key>offset</key>
                <string>{-35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{71,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,73},{71,73}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{71,73}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,73},{71,73}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{71,73}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,77}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{117,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,144},{67,73}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{67,73}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,144},{67,75}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,144},{67,75}}</string>
                <key>offset</key>
                <string>{-39,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,154},{67,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,73},{69,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,75},{67,77}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{67,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,75},{69,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,160},{69,77}}</string>
                <key>offset</key>
                <string>{-35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{69,77}}</string>
                <key>offset</key>
                <string>{-35,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,73},{69,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{69,77}}</string>
                <key>offset</key>
                <string>{-35,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{69,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,75},{67,77}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{67,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{69,77}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{71,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,148},{65,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{65,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,81},{65,79}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{65,79}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{69,77}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{73,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{71,77}}</string>
                <key>offset</key>
                <string>{-32,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{71,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,79},{67,79}}</string>
                <key>offset</key>
                <string>{-31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{67,79}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,75},{67,77}}</string>
                <key>offset</key>
                <string>{-33,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{67,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,162},{71,75}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,73},{69,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,144},{67,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,154},{67,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,73},{69,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{71,77}}</string>
                <key>offset</key>
                <string>{-36,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,22},{71,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{71,77}}</string>
                <key>offset</key>
                <string>{-35,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{71,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,73},{71,73}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{71,73}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,73},{71,73}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{71,73}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,77}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{117,77}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,144},{67,73}}</string>
                <key>offset</key>
                <string>{-38,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,26},{67,73}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,144},{67,75}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,144},{67,75}}</string>
                <key>offset</key>
                <string>{-39,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,154},{67,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{67,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
            <key>lta_npc006-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,154},{69,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{147,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lta_npc006.png</string>
            <key>size</key>
            <string>{777,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e898e445530389dc441c86f3fafb7cdb:1/1$</string>
            <key>textureFileName</key>
            <string>lta_npc006.png</string>
        </dict>
    </dict>
</plist>
