<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lta_npc005-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,226},{74,79}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,305},{78,75}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,75}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,75},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,146},{82,71}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{82,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{78,69}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{78,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,449},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,520},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,520},{74,71}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{74,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,373},{76,69}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,148},{82,69}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{82,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,77},{84,69}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{84,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,521},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{82,73}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{82,73}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,521},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,450},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,379},{78,73}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,73}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{76,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,73},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,71}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{130,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{84,71}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{94,69}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{94,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,75},{84,69}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{84,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,219},{74,79}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,219},{74,79}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,382},{74,77}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{74,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,295},{76,77}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{76,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{78,77}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{78,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,226},{78,77}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{78,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{78,79}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,146},{78,79}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,148},{76,79}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{76,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,295},{78,75}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,75}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,444},{74,75}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{74,75}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,300},{70,77}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{70,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{72,79}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,302},{78,75}}</string>
                <key>offset</key>
                <string>{-39,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{78,75}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,372},{76,75}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{76,75}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,454},{70,77}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{70,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,219},{72,79}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,226},{74,79}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,305},{78,75}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,75}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,75},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,146},{82,71}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{82,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{78,69}}</string>
                <key>offset</key>
                <string>{-27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{78,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,449},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,520},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,520},{74,71}}</string>
                <key>offset</key>
                <string>{-30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{74,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,373},{76,69}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,148},{82,69}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{82,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,77},{84,69}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{84,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,521},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{82,73}}</string>
                <key>offset</key>
                <string>{-26,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{82,73}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,521},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,450},{74,69}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{74,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,379},{78,73}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{78,73}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,372},{76,77}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,73},{84,71}}</string>
                <key>offset</key>
                <string>{-24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,71}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{130,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{84,71}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{84,71}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{94,69}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{94,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
            <key>lta_npc005-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,75},{84,69}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{84,69}}</string>
                <key>sourceSize</key>
                <string>{158,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lta_npc005.png</string>
            <key>size</key>
            <string>{486,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1567e87cf6413fa40ad59b97eeb52719:1/1$</string>
            <key>textureFileName</key>
            <string>lta_npc005.png</string>
        </dict>
    </dict>
</plist>
