<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lta_npc003-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{75,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,219},{81,73}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{81,73}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,444},{83,75}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{83,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{73,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{73,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{73,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,369},{73,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{73,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,146},{83,71}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{83,71}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,73},{83,71}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{83,71}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,752},{125,77}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{125,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{69,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{71,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{75,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,521},{81,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{81,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,369},{73,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{73,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,294},{73,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{73,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{75,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{77,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{77,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,675},{77,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{77,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,752},{79,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{79,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,675},{77,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{77,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,598},{77,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,24},{77,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,444},{75,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,294},{73,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{73,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,144},{73,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,521},{77,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{77,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{69,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,73},{69,77}}</string>
                <key>offset</key>
                <string>{-32,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{69,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{73,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,598},{79,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{79,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{75,75}}</string>
                <key>offset</key>
                <string>{-32,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,219},{73,77}}</string>
                <key>offset</key>
                <string>{-32,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,22},{73,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{75,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,219},{81,73}}</string>
                <key>offset</key>
                <string>{-29,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{81,73}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,444},{83,75}}</string>
                <key>offset</key>
                <string>{-38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{83,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{73,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{73,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{73,75}}</string>
                <key>offset</key>
                <string>{-33,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{73,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,369},{73,77}}</string>
                <key>offset</key>
                <string>{-34,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{73,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,146},{83,71}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{83,71}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,73},{83,71}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{83,71}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,752},{125,77}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{125,77}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,75}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{65,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{69,75}}</string>
                <key>offset</key>
                <string>{-35,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{69,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{71,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{71,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{75,75}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{75,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
            <key>lta_npc003-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,521},{81,75}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{81,75}}</string>
                <key>sourceSize</key>
                <string>{159,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lta_npc003.png</string>
            <key>size</key>
            <string>{243,879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e60d5a66050e4bd829b7bfc4303f6f:1/1$</string>
            <key>textureFileName</key>
            <string>lta_npc003.png</string>
        </dict>
    </dict>
</plist>
