<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lta_npc002-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,251},{83,85}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{83,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,502},{83,83}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,85},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,168},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,251},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{87,81}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,334},{87,81}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,85},{87,81}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,251},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,168},{75,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{75,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{87,83}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{87,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,334},{85,83}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{85,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,168},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{131,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,85},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{83,85}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{83,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,419},{83,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,506},{83,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,338},{83,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,253},{83,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,504},{83,81}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{83,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,421},{83,81}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{83,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,85},{83,81}}</string>
                <key>offset</key>
                <string>{-36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{83,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,500},{81,81}}</string>
                <key>offset</key>
                <string>{-35,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{81,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,504},{81,83}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{81,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,336},{83,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,423},{77,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,587},{75,85}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{75,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,589},{75,85}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{75,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,589},{75,85}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{75,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,583},{73,83}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{73,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,591},{75,85}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{75,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,423},{75,85}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{75,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,419},{75,85}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{75,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,251},{83,85}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{83,85}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,502},{83,83}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{83,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{131,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,85},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,168},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,251},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{87,81}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,334},{87,81}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,85},{87,81}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,168},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,251},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{87,81}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{87,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,168},{75,83}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{75,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{87,83}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{87,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,334},{85,83}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{85,83}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,168},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{131,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,85},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,81}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{131,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>lta_npc002-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{91,81}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{91,81}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lta_npc002.png</string>
            <key>size</key>
            <string>{509,669}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3814195986978ad1f14831026057d60:1/1$</string>
            <key>textureFileName</key>
            <string>lta_npc002.png</string>
        </dict>
    </dict>
</plist>
