<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car016-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,740},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,707},{132,99}}</string>
                <key>offset</key>
                <string>{-45,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,453},{134,99}}</string>
                <key>offset</key>
                <string>{-43,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{134,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{136,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,50},{136,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{138,97}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{138,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,216},{136,97}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,52},{136,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,606},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{168,107}}</string>
                <key>offset</key>
                <string>{-27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{168,107}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,103}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{176,103}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{132,117}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{132,117}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{132,107}}</string>
                <key>offset</key>
                <string>{-45,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{132,107}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,606},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,808},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,406},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,305},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,204},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,204},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,507},{132,97}}</string>
                <key>offset</key>
                <string>{-42,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,52},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,103},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,756},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,439},{132,97}}</string>
                <key>offset</key>
                <string>{-42,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,52},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,305},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,655},{132,99}}</string>
                <key>offset</key>
                <string>{-45,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,103},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,874},{132,95}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,52},{132,95}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,857},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,554},{132,99}}</string>
                <key>offset</key>
                <string>{-45,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,354},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,907},{132,95}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,52},{132,95}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,740},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,707},{132,99}}</string>
                <key>offset</key>
                <string>{-45,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,48},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,453},{134,99}}</string>
                <key>offset</key>
                <string>{-43,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{134,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{136,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,50},{136,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{138,97}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{138,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{138,99}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{138,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,216},{136,97}}</string>
                <key>offset</key>
                <string>{-44,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,52},{136,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,606},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{168,107}}</string>
                <key>offset</key>
                <string>{-27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{168,107}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,103}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{176,103}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{132,117}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{132,117}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{132,107}}</string>
                <key>offset</key>
                <string>{-45,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,40},{132,107}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,606},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,808},{132,97}}</string>
                <key>offset</key>
                <string>{-45,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{132,97}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,406},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
            <key>uss_car016-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,305},{132,99}}</string>
                <key>offset</key>
                <string>{-42,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{132,99}}</string>
                <key>sourceSize</key>
                <string>{226,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car016.png</string>
            <key>size</key>
            <string>{503,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:913899e0ae1aa3f9e1ed28d6c41cbe89:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car016.png</string>
        </dict>
    </dict>
</plist>
