<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car011-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,280},{203,125}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{203,125}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{153,127}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{153,127}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{171,111}}</string>
                <key>offset</key>
                <string>{-22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{171,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,302},{181,111}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{181,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,147},{205,131}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{205,131}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{213,149}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{213,149}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,143}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{223,143}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{221,143}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{221,143}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,485},{153,113}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,407},{153,131}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{153,131}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,826},{153,109}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,50},{153,109}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,826},{153,109}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,50},{153,109}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,766},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,713},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,653},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,879},{153,109}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{153,109}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,881},{153,109}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{153,109}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,147},{153,109}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,50},{153,109}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,600},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,540},{153,111}}</string>
                <key>offset</key>
                <string>{-13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{153,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,280},{203,125}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{203,125}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{153,127}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{153,127}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{171,111}}</string>
                <key>offset</key>
                <string>{-22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{171,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,302},{181,111}}</string>
                <key>offset</key>
                <string>{-27,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{181,111}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,147},{205,131}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{205,131}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{213,149}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{213,149}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,143}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{223,143}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{221,143}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{221,143}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,485},{153,113}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{153,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,46},{153,113}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
            <key>uss_car011-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,407},{153,131}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{153,131}}</string>
                <key>sourceSize</key>
                <string>{261,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car011.png</string>
            <key>size</key>
            <string>{535,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7acd07c20a676a592abe49b66d99cdd3:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car011.png</string>
        </dict>
    </dict>
</plist>
