<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_npc001-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,560},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,746},{100,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,580},{96,90}}</string>
                <key>offset</key>
                <string>{-46,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{96,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,866},{100,90}}</string>
                <key>offset</key>
                <string>{-44,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,672},{100,92}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,840},{100,90}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,746},{100,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,466},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,94},{104,92}}</string>
                <key>offset</key>
                <string>{-41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{104,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{110,90}}</string>
                <key>offset</key>
                <string>{-40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{110,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{112,90}}</string>
                <key>offset</key>
                <string>{-39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{112,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,90}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{160,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{100,90}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{100,90}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,280},{104,90}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{104,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{104,90}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{104,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,188},{104,90}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{104,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{104,90}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{104,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,372},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{102,90}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{102,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{104,88}}</string>
                <key>offset</key>
                <string>{-43,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,88}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,774},{100,90}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,488},{96,90}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{96,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,654},{102,90}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{102,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,94},{104,88}}</string>
                <key>offset</key>
                <string>{-43,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,88}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{102,90}}</string>
                <key>offset</key>
                <string>{-41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{102,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,396},{96,90}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{96,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,560},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,746},{100,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,90}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{160,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,200},{94,90}}</string>
                <key>offset</key>
                <string>{-47,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{94,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,580},{96,90}}</string>
                <key>offset</key>
                <string>{-46,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{96,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,866},{100,90}}</string>
                <key>offset</key>
                <string>{-44,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,672},{100,92}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,840},{100,90}}</string>
                <key>offset</key>
                <string>{-43,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{100,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,746},{100,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{100,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,292},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,466},{102,92}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{102,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,94},{104,92}}</string>
                <key>offset</key>
                <string>{-41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{104,92}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{110,90}}</string>
                <key>offset</key>
                <string>{-40,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{110,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>uss_npc001-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{112,90}}</string>
                <key>offset</key>
                <string>{-39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{112,90}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_npc001.png</string>
            <key>size</key>
            <string>{310,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995bbcd0a9cafb6c30060848a78d54a6:1/1$</string>
            <key>textureFileName</key>
            <string>uss_npc001.png</string>
        </dict>
    </dict>
</plist>
