<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_npc002-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{97,110}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{97,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{115,104}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{115,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{129,98}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{129,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,147},{135,98}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{135,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,98}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{189,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{143,98}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{143,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{143,98}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{143,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,284},{129,104}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{129,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,337},{109,108}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{109,108}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{97,110}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{97,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,114},{97,110}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,7},{97,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,338},{95,110}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,7},{95,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,226},{97,110}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,7},{97,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,342},{99,110}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{99,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,336},{101,108}}</string>
                <key>offset</key>
                <string>{-16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,9},{101,108}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,230},{101,110}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{101,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{101,110}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,7},{101,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{99,110}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{99,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,114},{99,110}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,7},{99,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,117},{111,104}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,13},{111,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,225},{109,106}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{109,106}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,114},{109,108}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,9},{109,108}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,248},{111,106}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,11},{111,106}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{113,104}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,13},{113,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,133},{113,106}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,11},{113,106}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,226},{109,108}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{109,108}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,361},{111,104}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{111,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{97,110}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{97,110}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{115,104}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{115,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{129,98}}</string>
                <key>offset</key>
                <string>{-24,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{129,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,147},{135,98}}</string>
                <key>offset</key>
                <string>{-27,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{135,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{189,98}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{189,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{143,98}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{143,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{143,98}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{143,98}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,284},{129,104}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{129,104}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
            <key>uss_npc002-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,337},{109,108}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,9},{109,108}}</string>
                <key>sourceSize</key>
                <string>{219,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_npc002.png</string>
            <key>size</key>
            <string>{768,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8e7bb16f14d659c728a944c4bae4e3a:1/1$</string>
            <key>textureFileName</key>
            <string>uss_npc002.png</string>
        </dict>
    </dict>
</plist>
