<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car024-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,382},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{138,114}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,28},{138,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{178,116}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{178,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,116}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{178,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{140,116}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,26},{140,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,120},{138,116}}</string>
                <key>offset</key>
                <string>{46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,26},{138,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{136,120}}</string>
                <key>offset</key>
                <string>{47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,22},{136,120}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,370},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,250},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,118},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,636},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,514},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,502},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,828},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,710},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,592},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,238},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,250},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,648},{130,116}}</string>
                <key>offset</key>
                <string>{50,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,26},{130,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,474},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,356},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{132,116}}</string>
                <key>offset</key>
                <string>{50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{132,116}}</string>
                <key>offset</key>
                <string>{50,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,238},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{132,116}}</string>
                <key>offset</key>
                <string>{49,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{132,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,382},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{138,114}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,28},{138,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{178,116}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{178,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,116}}</string>
                <key>offset</key>
                <string>{26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,26},{178,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{140,116}}</string>
                <key>offset</key>
                <string>{45,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,26},{140,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,120},{138,116}}</string>
                <key>offset</key>
                <string>{46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,26},{138,116}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{136,120}}</string>
                <key>offset</key>
                <string>{47,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,22},{136,120}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
            <key>uss_car024-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,370},{130,114}}</string>
                <key>offset</key>
                <string>{50,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,28},{130,114}}</string>
                <key>sourceSize</key>
                <string>{232,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car024.png</string>
            <key>size</key>
            <string>{506,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5ea29490f6d605515eefa88c425078:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car024.png</string>
        </dict>
    </dict>
</plist>
