<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car001-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,539},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,782},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{141,111}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{141,111}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{115,105}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{115,105}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,303},{119,93}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{119,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,208},{125,93}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{125,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{133,93}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{133,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{135,93}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{135,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,190},{129,111}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{129,111}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{115,105}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{115,105}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{123,91}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{123,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,115},{131,91}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{131,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,111}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{153,111}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{115,105}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{115,105}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,303},{117,91}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{117,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,303},{121,91}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{121,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,539},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,782},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,890},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,890},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,890},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,539},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,539},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,590},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,495},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,773},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,687},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,422},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,493},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,687},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,656},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,592},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,398},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,396},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,539},{115,95}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,38},{115,95}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,782},{115,93}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,40},{115,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,303},{121,91}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{121,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{125,91}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,42},{125,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{141,111}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{141,111}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{115,105}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{115,105}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,303},{119,93}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,40},{119,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,208},{125,93}}</string>
                <key>offset</key>
                <string>{-11,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{125,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{133,93}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,40},{133,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{135,93}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{135,93}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,190},{129,111}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{129,111}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{115,105}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{115,105}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{123,91}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{123,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,115},{131,91}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{131,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,97},{135,91}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{135,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,111}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{153,111}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{115,105}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{115,105}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
            <key>uss_car001-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,303},{117,91}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,42},{117,91}}</string>
                <key>sourceSize</key>
                <string>{179,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car001.png</string>
            <key>size</key>
            <string>{464,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a702a345b7a4df2593b0264a32b3d6cc:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car001.png</string>
        </dict>
    </dict>
</plist>
