<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_npc003-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,360},{72,97}}</string>
                <key>offset</key>
                <string>{-41,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{72,97}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,278},{80,95}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{80,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{98,93}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{98,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,183},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,88},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,88},{84,91}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{84,91}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,382},{84,91}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{84,91}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,88},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,382},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,287},{84,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,192},{80,95}}</string>
                <key>offset</key>
                <string>{-35,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{80,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,289},{82,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,380},{82,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{146,93}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{146,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,183},{82,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{156,93}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{156,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{84,93}}</string>
                <key>offset</key>
                <string>{-32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,97},{154,93}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{154,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,192},{84,93}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,360},{72,97}}</string>
                <key>offset</key>
                <string>{-41,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{72,97}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,192},{72,97}}</string>
                <key>offset</key>
                <string>{-42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{72,97}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,183},{70,95}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{70,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,360},{70,95}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{70,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,340},{72,93}}</string>
                <key>offset</key>
                <string>{-42,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{72,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,280},{72,93}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{72,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,373},{72,93}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{72,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,354},{72,95}}</string>
                <key>offset</key>
                <string>{-41,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{72,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,266},{72,95}}</string>
                <key>offset</key>
                <string>{-41,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{72,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-idle01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,192},{72,95}}</string>
                <key>offset</key>
                <string>{-41,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{72,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{84,93}}</string>
                <key>offset</key>
                <string>{-39,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,382},{84,87}}</string>
                <key>offset</key>
                <string>{-41,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{84,87}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,291},{84,89}}</string>
                <key>offset</key>
                <string>{-42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{84,89}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,97},{82,93}}</string>
                <key>offset</key>
                <string>{-44,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,97},{82,93}}</string>
                <key>offset</key>
                <string>{-46,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,291},{82,87}}</string>
                <key>offset</key>
                <string>{-43,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{82,87}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{82,93}}</string>
                <key>offset</key>
                <string>{-41,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{84,95}}</string>
                <key>offset</key>
                <string>{-41,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{84,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,360},{72,97}}</string>
                <key>offset</key>
                <string>{-41,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{72,97}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,278},{80,95}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{80,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,93}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{158,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,287},{86,93}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{86,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{156,93}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{156,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{84,93}}</string>
                <key>offset</key>
                <string>{-32,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,97},{154,93}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{154,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,192},{84,93}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{98,93}}</string>
                <key>offset</key>
                <string>{-37,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{98,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,183},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,88},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,88},{84,91}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{84,91}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,289},{82,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,382},{84,91}}</string>
                <key>offset</key>
                <string>{-29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{84,91}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,88},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,382},{84,93}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,287},{84,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{84,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,192},{80,95}}</string>
                <key>offset</key>
                <string>{-35,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{80,95}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,380},{82,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{146,93}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{146,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,183},{82,93}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{82,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{154,93}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{154,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,97},{88,93}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{88,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{156,93}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{156,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
            <key>uss_npc003-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,192},{88,93}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{88,93}}</string>
                <key>sourceSize</key>
                <string>{198,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_npc003.png</string>
            <key>size</key>
            <string>{839,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f05c8823e4a7f06d40bcef8275dfff0:1/1$</string>
            <key>textureFileName</key>
            <string>uss_npc003.png</string>
        </dict>
    </dict>
</plist>
