<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car014-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,290},{209,130}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{209,130}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,534},{153,126}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{153,126}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{171,110}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,54},{171,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{181,112}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{181,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,152},{211,136}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{211,136}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{219,154}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{219,154}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,148}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{229,148}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{227,148}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{227,148}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,896},{151,112}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{151,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,534},{153,132}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{153,132}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,782},{153,112}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,844},{153,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,54},{153,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{155,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,54},{155,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,689},{153,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,54},{153,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,776},{153,112}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,668},{153,112}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,691},{155,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,54},{155,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{155,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,54},{155,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,422},{155,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,54},{155,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,422},{155,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,54},{155,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,534},{153,110}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,54},{153,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,662},{153,112}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,290},{209,130}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{209,130}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,534},{153,126}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,38},{153,126}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{171,110}}</string>
                <key>offset</key>
                <string>{-25,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,54},{171,110}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{181,112}}</string>
                <key>offset</key>
                <string>{-30,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,52},{181,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,152},{211,136}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,28},{211,136}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{219,154}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{219,154}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,148}}</string>
                <key>offset</key>
                <string>{16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,16},{229,148}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{227,148}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{227,148}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,896},{151,112}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{151,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,890},{153,112}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,52},{153,112}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
            <key>uss_car014-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,534},{153,132}}</string>
                <key>offset</key>
                <string>{-16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,32},{153,132}}</string>
                <key>sourceSize</key>
                <string>{267,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car014.png</string>
            <key>size</key>
            <string>{536,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02371f765e929c5771fb64fc74e11d05:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car014.png</string>
        </dict>
    </dict>
</plist>
