<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car004-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{138,119}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,73},{138,119}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{190,153}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,39},{190,153}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,158},{140,115}}</string>
                <key>offset</key>
                <string>{-31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{140,115}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{154,109}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,83},{154,109}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{164,111}}</string>
                <key>offset</key>
                <string>{-42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{164,111}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,177},{196,159}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{196,159}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{204,179}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{204,179}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,173}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{208,173}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,175}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{208,175}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,123},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,183},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,183},{134,123}}</string>
                <key>offset</key>
                <string>{-28,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,69},{134,123}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,183},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,389},{134,109}}</string>
                <key>offset</key>
                <string>{-28,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,83},{134,109}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,372},{134,109}}</string>
                <key>offset</key>
                <string>{-28,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,83},{134,109}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,319},{134,111}}</string>
                <key>offset</key>
                <string>{-28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,81},{134,111}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,183},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,183},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,275},{134,111}}</string>
                <key>offset</key>
                <string>{-28,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,81},{134,111}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,253},{134,109}}</string>
                <key>offset</key>
                <string>{-28,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,83},{134,109}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,375},{134,109}}</string>
                <key>offset</key>
                <string>{-28,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,83},{134,109}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,117},{134,111}}</string>
                <key>offset</key>
                <string>{-28,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,81},{134,111}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,259},{134,111}}</string>
                <key>offset</key>
                <string>{-28,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,81},{134,111}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,2},{138,119}}</string>
                <key>offset</key>
                <string>{-26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,73},{138,119}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{190,153}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,39},{190,153}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,158},{140,115}}</string>
                <key>offset</key>
                <string>{-31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,77},{140,115}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{154,109}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,83},{154,109}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{164,111}}</string>
                <key>offset</key>
                <string>{-42,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{164,111}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,177},{196,159}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{196,159}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{204,179}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{204,179}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{208,173}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{208,173}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,175}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{208,175}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,2},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,123},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,183},{134,113}}</string>
                <key>offset</key>
                <string>{-28,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,79},{134,113}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
            <key>uss_car004-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,183},{134,123}}</string>
                <key>offset</key>
                <string>{-28,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,69},{134,123}}</string>
                <key>sourceSize</key>
                <string>{248,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car004.png</string>
            <key>size</key>
            <string>{1017,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c24a300992f0be4c7379f8d9213206d:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car004.png</string>
        </dict>
    </dict>
</plist>
