<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car021-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,334},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,470},{216,152}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,58},{216,152}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,222},{136,110}}</string>
                <key>offset</key>
                <string>{-85,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,100},{136,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{138,108}}</string>
                <key>offset</key>
                <string>{-85,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{138,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{138,108}}</string>
                <key>offset</key>
                <string>{-85,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{138,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,106}}</string>
                <key>offset</key>
                <string>{-85,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{138,106}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{138,108}}</string>
                <key>offset</key>
                <string>{-85,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{138,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,334},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,446},{216,144}}</string>
                <key>offset</key>
                <string>{-43,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{216,144}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,470},{230,150}}</string>
                <key>offset</key>
                <string>{-36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{230,150}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,334},{134,162}}</string>
                <key>offset</key>
                <string>{-84,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{134,162}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,444},{134,172}}</string>
                <key>offset</key>
                <string>{-84,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{134,172}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{134,172}}</string>
                <key>offset</key>
                <string>{-84,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{134,172}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,334},{134,156}}</string>
                <key>offset</key>
                <string>{-84,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,54},{134,156}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,332},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,332},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,222},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,112},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,112},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{134,106}}</string>
                <key>offset</key>
                <string>{-84,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,104},{134,106}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,112},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,112},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,222},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,222},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,220},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,110},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,110},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{134,106}}</string>
                <key>offset</key>
                <string>{-84,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,104},{134,106}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,220},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,334},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,470},{216,152}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,58},{216,152}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,222},{136,110}}</string>
                <key>offset</key>
                <string>{-85,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,100},{136,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{138,108}}</string>
                <key>offset</key>
                <string>{-85,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{138,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{138,108}}</string>
                <key>offset</key>
                <string>{-85,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{138,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,106}}</string>
                <key>offset</key>
                <string>{-85,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{138,106}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{138,108}}</string>
                <key>offset</key>
                <string>{-85,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{138,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{134,108}}</string>
                <key>offset</key>
                <string>{-84,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,102},{134,108}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,334},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,446},{216,144}}</string>
                <key>offset</key>
                <string>{-43,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,66},{216,144}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,470},{230,150}}</string>
                <key>offset</key>
                <string>{-36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,60},{230,150}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,334},{134,162}}</string>
                <key>offset</key>
                <string>{-84,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{134,162}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,444},{134,172}}</string>
                <key>offset</key>
                <string>{-84,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{134,172}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{134,172}}</string>
                <key>offset</key>
                <string>{-84,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,38},{134,172}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,334},{134,156}}</string>
                <key>offset</key>
                <string>{-84,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,54},{134,156}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,332},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
            <key>uss_car021-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,332},{134,110}}</string>
                <key>offset</key>
                <string>{-84,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{134,110}}</string>
                <key>sourceSize</key>
                <string>{308,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car021.png</string>
            <key>size</key>
            <string>{1018,624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f422e17a9c188c1b33366a1653b728:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car021.png</string>
        </dict>
    </dict>
</plist>
