<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_npc005-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,456},{116,114}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{116,114}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,342},{116,112}}</string>
                <key>offset</key>
                <string>{-36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,228},{182,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,456},{118,112}}</string>
                <key>offset</key>
                <string>{-41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,114},{182,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{118,112}}</string>
                <key>offset</key>
                <string>{-41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,342},{118,112}}</string>
                <key>offset</key>
                <string>{-38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{120,112}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{120,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{118,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{118,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,342},{118,112}}</string>
                <key>offset</key>
                <string>{-44,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{182,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,228},{118,112}}</string>
                <key>offset</key>
                <string>{-41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,456},{116,114}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{116,114}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,342},{116,112}}</string>
                <key>offset</key>
                <string>{-36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,342},{116,112}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,342},{116,112}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{116,112}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,228},{116,112}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,228},{116,112}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,456},{116,114}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{116,114}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,228},{118,112}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{118,110}}</string>
                <key>offset</key>
                <string>{-37,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{118,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{116,112}}</string>
                <key>offset</key>
                <string>{-39,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,456},{118,114}}</string>
                <key>offset</key>
                <string>{-37,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{118,114}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,114},{118,112}}</string>
                <key>offset</key>
                <string>{-35,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{120,110}}</string>
                <key>offset</key>
                <string>{-33,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{120,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,114},{118,112}}</string>
                <key>offset</key>
                <string>{-31,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,456},{118,114}}</string>
                <key>offset</key>
                <string>{-33,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{118,114}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,456},{116,114}}</string>
                <key>offset</key>
                <string>{-34,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{116,114}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,342},{116,112}}</string>
                <key>offset</key>
                <string>{-36,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{116,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,228},{118,112}}</string>
                <key>offset</key>
                <string>{-41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,228},{182,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,456},{118,112}}</string>
                <key>offset</key>
                <string>{-41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,114},{182,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{118,112}}</string>
                <key>offset</key>
                <string>{-41,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,114},{118,112}}</string>
                <key>offset</key>
                <string>{-40,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,342},{118,112}}</string>
                <key>offset</key>
                <string>{-38,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{120,112}}</string>
                <key>offset</key>
                <string>{-37,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{120,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{122,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{120,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{118,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{118,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{118,110}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{118,110}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,342},{118,112}}</string>
                <key>offset</key>
                <string>{-44,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{118,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
            <key>uss_npc005-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{182,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{182,112}}</string>
                <key>sourceSize</key>
                <string>{214,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_npc005.png</string>
            <key>size</key>
            <string>{854,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32b422142933abca3a22a16d3e44032:1/1$</string>
            <key>textureFileName</key>
            <string>uss_npc005.png</string>
        </dict>
    </dict>
</plist>
