<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car002-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,745},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,331},{147,101}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{147,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,850},{131,111}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{131,111}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,597},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{155,101}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{155,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,805},{133,107}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{133,107}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,537},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{127,101}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{127,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,474},{121,107}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{121,107}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,351},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,101}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{147,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{127,113}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{127,113}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,228},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,228},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,434},{149,101}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{149,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,745},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,125},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,105},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,125},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,745},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,700},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,640},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,745},{121,103}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{121,103}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,331},{147,101}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{147,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,850},{131,111}}</string>
                <key>offset</key>
                <string>{-25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{131,111}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,597},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{155,101}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{155,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,805},{133,107}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{133,107}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,537},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{127,101}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{127,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,474},{121,107}}</string>
                <key>offset</key>
                <string>{-20,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{121,107}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,351},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,101}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{147,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{127,113}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{127,113}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,228},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,228},{121,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{121,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
            <key>uss_car002-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,434},{149,101}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{149,101}}</string>
                <key>sourceSize</key>
                <string>{185,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car002.png</string>
            <key>size</key>
            <string>{385,983}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30ba86d5a8a4c2feeaa3eee8a44b5851:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car002.png</string>
        </dict>
    </dict>
</plist>
