<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car010-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{141,131}}</string>
                <key>offset</key>
                <string>{-39,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,95},{141,131}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{219,169}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{219,169}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,412},{135,123}}</string>
                <key>offset</key>
                <string>{-40,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,103},{135,123}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,342},{147,113}}</string>
                <key>offset</key>
                <string>{-46,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,113},{147,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,225},{159,115}}</string>
                <key>offset</key>
                <string>{-52,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,111},{159,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,646},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{221,179}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,47},{221,179}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,203},{231,207}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{231,207}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,199}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{241,199}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,201}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{241,201}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{135,115}}</string>
                <key>offset</key>
                <string>{-41,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,537},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,537},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,878},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,537},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,574},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,878},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,763},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,691},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,858},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-idle01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,529},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,457},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,743},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,654},{135,113}}</string>
                <key>offset</key>
                <string>{-41,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,868},{135,111}}</string>
                <key>offset</key>
                <string>{-40,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,115},{135,111}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,731},{135,111}}</string>
                <key>offset</key>
                <string>{-40,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,115},{135,111}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,594},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,457},{135,113}}</string>
                <key>offset</key>
                <string>{-39,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,412},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{141,131}}</string>
                <key>offset</key>
                <string>{-39,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,95},{141,131}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,878},{135,113}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,113},{135,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,412},{135,123}}</string>
                <key>offset</key>
                <string>{-40,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,103},{135,123}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,342},{147,113}}</string>
                <key>offset</key>
                <string>{-46,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,113},{147,113}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,225},{159,115}}</string>
                <key>offset</key>
                <string>{-52,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,111},{159,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,646},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{219,169}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{219,169}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{221,179}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,47},{221,179}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,203},{231,207}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{231,207}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{241,199}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{241,199}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{241,201}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{241,201}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{135,115}}</string>
                <key>offset</key>
                <string>{-41,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,537},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
            <key>uss_car010-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,537},{135,115}}</string>
                <key>offset</key>
                <string>{-40,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,111},{135,115}}</string>
                <key>sourceSize</key>
                <string>{277,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car010.png</string>
            <key>size</key>
            <string>{672,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd9395925a996afbfc065b325eacf723:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car010.png</string>
        </dict>
    </dict>
</plist>
