<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car019-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,303},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,56},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,404},{121,99}}</string>
                <key>offset</key>
                <string>{-62,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,56},{121,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,103},{139,97}}</string>
                <key>offset</key>
                <string>{-56,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,58},{139,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{141,97}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,59},{141,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{143,95}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{143,95}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{145,99}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{145,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{145,99}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{145,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{143,97}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{143,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{143,97}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{143,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{141,95}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,60},{141,95}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{139,97}}</string>
                <key>offset</key>
                <string>{-55,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,58},{139,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{185,107}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{185,107}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,103}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{195,103}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,270},{121,117}}</string>
                <key>offset</key>
                <string>{-63,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{121,117}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,143},{125,105}}</string>
                <key>offset</key>
                <string>{-61,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,51},{125,105}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,393},{131,99}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,57},{131,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,404},{137,99}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,303},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,404},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,404},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,303},{137,99}}</string>
                <key>offset</key>
                <string>{-55,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,402},{137,97}}</string>
                <key>offset</key>
                <string>{-55,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{137,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,301},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,200},{137,99}}</string>
                <key>offset</key>
                <string>{-55,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,299},{137,97}}</string>
                <key>offset</key>
                <string>{-55,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,59},{137,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,99},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,99},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,200},{137,97}}</string>
                <key>offset</key>
                <string>{-54,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,59},{137,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,202},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,202},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,101},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,101},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,202},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,303},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,56},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,404},{121,99}}</string>
                <key>offset</key>
                <string>{-62,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,56},{121,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,103},{139,97}}</string>
                <key>offset</key>
                <string>{-56,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,58},{139,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{141,97}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,59},{141,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{143,95}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{143,95}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{145,99}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{145,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{145,99}}</string>
                <key>offset</key>
                <string>{-57,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{145,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{143,97}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{143,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{143,97}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{143,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{141,95}}</string>
                <key>offset</key>
                <string>{-58,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,60},{141,95}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{139,97}}</string>
                <key>offset</key>
                <string>{-55,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,58},{139,97}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{185,107}}</string>
                <key>offset</key>
                <string>{-30,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{185,107}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{195,103}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{195,103}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,270},{121,117}}</string>
                <key>offset</key>
                <string>{-63,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{121,117}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,143},{125,105}}</string>
                <key>offset</key>
                <string>{-61,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,51},{125,105}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,393},{131,99}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,57},{131,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,404},{137,99}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,56},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,303},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
            <key>uss_car019-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,404},{137,99}}</string>
                <key>offset</key>
                <string>{-54,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,57},{137,99}}</string>
                <key>sourceSize</key>
                <string>{259,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car019.png</string>
            <key>size</key>
            <string>{1021,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a960bdb4aeb018d6ff3a020d85bb8bf:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car019.png</string>
        </dict>
    </dict>
</plist>
