<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uss_car007-atk01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{184,137}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{184,137}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,250},{168,127}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{168,127}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,121}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{196,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,125},{206,123}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{206,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,373},{188,143}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{188,143}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,383},{196,161}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{196,161}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,375},{204,155}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{204,155}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,379},{202,155}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{202,155}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,248},{152,123}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-atk01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,250},{152,131}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{152,131}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-idle01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-idle01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,248},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-idle01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,125},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-idle01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,125},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-idle01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-idle01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,125},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{152,121}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,50},{152,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,125},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{184,137}}</string>
                <key>offset</key>
                <string>{23,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{184,137}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,250},{168,127}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{168,127}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,121}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{196,121}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,125},{206,123}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{206,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,373},{188,143}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,28},{188,143}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,383},{196,161}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{196,161}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,375},{204,155}}</string>
                <key>offset</key>
                <string>{29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{204,155}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,379},{202,155}}</string>
                <key>offset</key>
                <string>{31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{202,155}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,248},{152,123}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,250},{152,123}}</string>
                <key>offset</key>
                <string>{8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,48},{152,123}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
            <key>uss_car007-ski01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,250},{152,131}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{152,131}}</string>
                <key>sourceSize</key>
                <string>{268,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>uss_car007.png</string>
            <key>size</key>
            <string>{986,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e2381efd360bdbf27c3f974cb0bfa1:1/1$</string>
            <key>textureFileName</key>
            <string>uss_car007.png</string>
        </dict>
    </dict>
</plist>
