<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/explore/explore_Ico1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1535},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/explore/explore_Ico1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1492},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/explore/explore_Ico2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1185},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/explore/explore_Ico2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1009},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/explore/explore_Ico3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1009},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/explore/explore_Ico3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1162},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/explore/explore_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1009},{640,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,255}</string>
			</dict>
			<key>common/explore/explore_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1649},{640,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,255}</string>
			</dict>
			<key>common/explore/explore_bg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1360},{87,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,102}</string>
			</dict>
			<key>common/explore/explore_bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1356},{190,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,68}</string>
			</dict>
			<key>common/explore/explore_bg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1424},{190,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,68}</string>
			</dict>
			<key>common/explore/explore_bg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1109},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1109},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1108},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1260},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg17.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1161},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg18.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1649},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg19.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1559},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg20.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1447},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg21.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1500},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg22.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,1313},{123,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>common/explore/explore_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{638,1009}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,1009}</string>
			</dict>
			<key>common/explore/explore_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1185},{150,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,171}</string>
			</dict>
			<key>common/explore/explore_bg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1009},{155,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,176}</string>
			</dict>
			<key>common/explore/explore_bg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1904},{180,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,82}</string>
			</dict>
			<key>common/explore/explore_bg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,1904},{180,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,82}</string>
			</dict>
			<key>common/explore/explore_bg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1356},{180,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,82}</string>
			</dict>
			<key>common/explore/explore_bg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1536},{180,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,82}</string>
			</dict>
			<key>common/explore/explore_bg23.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,1492},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>common/explore/explore_bg24.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1492},{120,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,43}</string>
			</dict>
			<key>common/explore/explore_bg25.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1986},{148,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,59}</string>
			</dict>
			<key>common/explore/explore_bg26.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1986},{122,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,57}</string>
			</dict>
			<key>common/explore/explore_bg27.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1986},{122,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,57}</string>
			</dict>
			<key>common/explore/explore_bg28.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1592},{122,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,57}</string>
			</dict>
			<key>common/explore/explore_bg29.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1285},{122,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,57}</string>
			</dict>
			<key>common/explore/explore_bg30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1904},{280,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,137}</string>
			</dict>
			<key>common/explore/explore_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1009},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/explore/explore_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1262},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/explore/explore_btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,1162},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/explore/explore_btn4.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1361},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/explore/explore_btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1460},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/explore/explore_btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1261},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
			<key>common/explore/explore_btn7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,1161},{99,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ecplore.png</string>
			<key>realTextureFileName</key>
			<string>ecplore.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>