<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/c/c_001_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,489},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>common/c/c_001_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,415},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>common/c/c_002_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,543},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>common/c/c_002_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,701},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>common/c/c_003_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,77},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,199},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_004_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,519},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>common/c/c_004_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{93,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,93}</string>
			</dict>
			<key>common/c/c_005_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,201},{140,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,75}</string>
			</dict>
			<key>common/c/c_005_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,278},{140,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,75}</string>
			</dict>
			<key>common/c/c_006_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,123},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>common/c/c_006_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,203},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>common/c/c_007_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1821,281},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>common/c/c_007_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,203},{130,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,78}</string>
			</dict>
			<key>common/c/c_008_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,123},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_008_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1377,191},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_009_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,1},{140,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,98}</string>
			</dict>
			<key>common/c/c_009_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,1},{140,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,98}</string>
			</dict>
			<key>common/c/c_010_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,101},{140,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,88}</string>
			</dict>
			<key>common/c/c_010_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1823,191},{140,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,88}</string>
			</dict>
			<key>common/c/c_011_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,123},{161,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>
			<key>common/c/c_011_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,123},{161,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>
			<key>common/c/c_012_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,283},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>
			<key>common/c/c_012_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,349},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>
			<key>common/c/c_013_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,648},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>
			<key>common/c/c_013_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,423},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,64}</string>
			</dict>
			<key>common/c/c_014_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,602},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>common/c/c_014_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,656},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>common/c/c_015_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1973,714},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>common/c/c_015_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1899,730},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>common/c/c_016_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,123},{161,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>
			<key>common/c/c_016_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,123},{161,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,78}</string>
			</dict>
			<key>common/c/c_008_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,203},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_008_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,207},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_008_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,203},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_008_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,203},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_017_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,191},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/c/c_017_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1537,283},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>common/c/c_018_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1953,350},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/c/c_018_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,283},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/c/c_019_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,385},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/c/c_019_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,463},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/c/c_020_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1886,554},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/c/c_020_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,417},{90,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,100}</string>
			</dict>
			<key>common/c/c_021_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,361},{95,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,100}</string>
			</dict>
			<key>common/c/c_021_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1906,452},{95,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,100}</string>
			</dict>
			<key>common/c/c_009_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1681,101},{140,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,98}</string>
			</dict>
			<key>common/c/c_022_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1226,475},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>common/c/c_022_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,531},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>common/c/c_023_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,199},{61,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,92}</string>
			</dict>
			<key>common/c/c_023_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,554},{61,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,92}</string>
			</dict>
			<key>common/c/c_024_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,259},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_024_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1639,355},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_025_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,271},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_025_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,275},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_026_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,293},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_026_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_027_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,407},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_027_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,271},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_028_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,271},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_028_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,327},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_029_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,395},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_029_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1624,423},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_030_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,339},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_030_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,343},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_031_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,361},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_031_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_003_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,77},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,69},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_003_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_008_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,339},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_008_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,339},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,321},{96,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,94}</string>
			</dict>
			<key>common/c/c_004_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1559,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>common/c/c_032_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,463},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_032_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,491},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_033_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,559},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_033_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,407},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_034_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,411},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_034_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,429},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_035_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,407},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_035_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,407},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_036_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,92},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c/c_036_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,178},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c/c_036_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,264},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c/c_036_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,706},{80,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,84}</string>
			</dict>
			<key>common/c/c_037_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,385},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/c/c_037_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1532,487},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/c/c_037_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1792,565},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/c/c_037_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,611},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/c/c_037_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,475},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/c/c_037_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,543},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>common/c/c_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{191,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,220}</string>
			</dict>
			<key>common/c/c_039_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,475},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_039_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,479},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_040_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,497},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_040_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,543},{168,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,66}</string>
			</dict>
			<key>common/c/c_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,1},{211,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,74}</string>
			</dict>
			<key>common/c/c_042_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,530},{96,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,54}</string>
			</dict>
			<key>common/c/c_042_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1161,555},{96,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,54}</string>
			</dict>
			<key>common/c/c_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,223},{243,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,114}</string>
			</dict>
			<key>common/c/c_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1965,1},{78,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,89}</string>
			</dict>
			<key>common/c/c_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{1527,577},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>common/c/c_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,655},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>common/c/c_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{1822,656},{75,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,78}</string>
			</dict>
			<key>common/c/c_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,339},{71,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,82}</string>
			</dict>
			<key>common/c/c_049.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,123},{163,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,82}</string>
			</dict>
			<key>common/c/c_050_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,547},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_050_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,565},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_051_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,602},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_051_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,620},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_052_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,657},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_052_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,675},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_053_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,475},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_053_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,475},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_054.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,530},{117,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,49}</string>
			</dict>
			<key>common/c/c_055.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,614},{113,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,63}</string>
			</dict>
			<key>common/c/c_056.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{174,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,66}</string>
			</dict>
			<key>common/c/c_055_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,679},{113,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,63}</string>
			</dict>
			<key>common/c/c_057_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,531},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
			<key>common/c/c_057_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1604,627},{139,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>button.png</string>
			<key>realTextureFileName</key>
			<string>button.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>