<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>common/a/a_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1935},{320,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,104}</string>
			</dict>
			<key>common/a/a_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1565,1234},{108,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,104}</string>
			</dict>
			<key>common/a/a_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1236},{640,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,102}</string>
			</dict>
			<key>common/a/a_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2009},{406,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{406,33}</string>
			</dict>
			<key>common/a/a_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1442,1667},{320,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,83}</string>
			</dict>
			<key>common/a/a_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,569},{134,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,28}</string>
			</dict>
			<key>common/a/a_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,425},{142,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{142,28}</string>
			</dict>
			<key>common/a/a_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,705},{293,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,433}</string>
			</dict>
			<key>common/a/a_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1029},{278,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,392}</string>
			</dict>
			<key>common/a/a_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1423},{281,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,362}</string>
			</dict>
			<key>common/a/a_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1972},{280,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,33}</string>
			</dict>
			<key>common/a/a_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,715},{519,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,127}</string>
			</dict>
			<key>common/a/a_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,643},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>common/a/a_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,1024},{231,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{231,275}</string>
			</dict>
			<key>common/a/a_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,396},{555,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{555,317}</string>
			</dict>
			<key>common/a/a_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,1},{151,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,40}</string>
			</dict>
			<key>common/a/a_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,301},{122,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{122,40}</string>
			</dict>
			<key>common/a/a_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1876,1568},{252,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,210}</string>
			</dict>
			<key>common/a/a_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,643},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>common/a/a_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1064},{106,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,107}</string>
			</dict>
			<key>common/a/a_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,643},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>common/a/a_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1827,945},{76,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,77}</string>
			</dict>
			<key>common/a/a_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1},{640,443}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,443}</string>
			</dict>
			<key>common/a/a_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1795},{640,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,175}</string>
			</dict>
			<key>common/a/a_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,1},{640,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{640,285}</string>
			</dict>
			<key>common/a/a_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1697},{514,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{514,90}</string>
			</dict>
			<key>common/a/a_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,715},{312,352}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{312,352}</string>
			</dict>
			<key>common/a/a_030.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,1972},{156,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,30}</string>
			</dict>
			<key>common/a/a_031.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1972},{134,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,31}</string>
			</dict>
			<key>common/a/a_032.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,2033},{515,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{515,9}</string>
			</dict>
			<key>common/a/a_007_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1675,1173},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>common/a/a_007_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1745,1048},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>common/a/a_029_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,945},{117,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,114}</string>
			</dict>
			<key>common/a/a_029_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,945},{117,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,114}</string>
			</dict>
			<key>common/a/a_033.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{561,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{561,393}</string>
			</dict>
			<key>common/a/a_034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,154},{145,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{145,39}</string>
			</dict>
			<key>common/a/a_035.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1340},{447,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{447,73}</string>
			</dict>
			<key>common/a/a_036.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1795},{607,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{607,212}</string>
			</dict>
			<key>common/a/a_037.png</key>
			<dict>
				<key>frame</key>
				<string>{{1742,1752},{132,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,161}</string>
			</dict>
			<key>common/a/a_038.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1752},{174,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,159}</string>
			</dict>
			<key>common/a/a_039.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{640,899}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,899}</string>
			</dict>
			<key>common/a/a_040.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1140},{509,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{509,92}</string>
			</dict>
			<key>common/a/a_041.png</key>
			<dict>
				<key>frame</key>
				<string>{{1186,1972},{356,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,57}</string>
			</dict>
			<key>common/a/a_042.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,2009},{359,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,30}</string>
			</dict>
			<key>common/a/a_043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,1789},{327,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{327,144}</string>
			</dict>
			<key>common/a/a_044.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,945},{101,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,98}</string>
			</dict>
			<key>common/a/a_045.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,2007},{316,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,24}</string>
			</dict>
			<key>common/a/a_046.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,902},{640,891}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,891}</string>
			</dict>
			<key>common/a/a_047.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,1915},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>common/a/a_048.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,1415},{280,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,280}</string>
			</dict>
			<key>common/a/line_guang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,1415},{300,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>common/a/line_guang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1510,1340},{300,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>common/a/line_guang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,643},{300,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>common/a/line_guang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,643},{300,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
			<key>common/a/line_guang5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1762,1266},{300,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>box.png</string>
			<key>realTextureFileName</key>
			<string>box.png</string>
			<key>size</key>
			<string>{2114,2044}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2114</integer>
			<key>height</key>
			<integer>2044</integer>
		</dict>
	</dict>
</plist>